@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 1px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-right: 0.5em;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}


section {
    width: 100%;
}

span {
}