.image_absolute_wrap {
    position: relative;
    max-width: 280px;
    margin: 0 auto;
}

.image_absolute_wrap2 {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
}

.image_banner {
    position: absolute;
    top: 8rem;
    left: -15rem;
    width: 24%;
    z-index: -1;
}
.img-class1 {
    position: absolute;
    top: 6rem;
    left: 50rem;
    width: 6rem;
    z-index: 2;
}

.img-class2 {
    position: absolute;
    top: 31rem;
    left: -39rem;
    width: 6rem;
    z-index: 2;
 }
.six_img {
    position: absolute;
    top: -15.5rem;
    left: 44rem;
    width: 37rem;
}

.recru_img {
    position: absolute;
    top: 16rem;
    left: 42rem;
    width: 18rem;
    opacity: 0.5;
}

.img-orange_arrow {
    position: absolute;
    top: 79%;
    left: 0;
    width: 100%;
}

.img-circle_harf {
    position: absolute;
    top: -17em;
    left: 31rem;
    width: 45rem;
}

.section1_img {
    position: absolute;
    top: 51em;
    left: -9rem;
    width: 24rem;
}

.section4_img {
    position: absolute;
    top: 4em;
    left: -10rem;
    width: 13.8rem;
}



@media (max-width:1399px) {
    .img-orange_arrow {
        display: none;
    }
    .img-circle_harf {
        display: none;
    }
    .six_img {
        display: none;
    }
}

@media (max-width: 899px) {
    .section1_img {
        display: none;
        position: absolute;
        top: 49em;
        left: -9rem;
        width: 24rem;
    }

    .section4_img {
        display: none;
    }

}
@media (max-width:281px) {
    .img-class1 {
        display: block;
        top: 4rem;
        left: 14.5rem;
        width: 3rem;
    }

    .img-class2 {
        display: block;
        top: 39rem;
        left: 0rem;
        width: 3rem;
    }
    .six_img {
        display: block;
        top: -8.5rem;
        left: 8rem;
        width: 47rem;
    }
}



