
/* 공통 start */
.image_absolute_wrap {
    position: relative;
    max-width: 250px;
    margin: 0 auto;
}
.image_absolute_1 {
    position: absolute;
    top: 6em;
    left: 15em;
    width: 7em;
}

.image_absolute_5 {
    position: absolute;
    bottom: -16em;
    right: -26em;
    width: 11em;
}

.image_absolute_8 {
    position: absolute;
    top: -1em;
    left: 10em;
    width: 10em;
}

.image_absolute_14 {
    position: absolute;
    top: 9em;
    left: 48em;
    width: 7em;
    z-index: 2;
}
.image_absolute_15 {
    position: absolute;
    top: 30em;
    left: -41em;
    width: 8em;
    z-index: 2;
}

/* 공통 end */

/* 풀스택 start */

.image_absolute_2 {
    position: absolute;
    top: 7.5em;
    left: 19em;
    width: 15em;
    opacity: 0.9;
    z-index: -1;
}

.image_absolute_3 {
    position: absolute;
    top: 18em;
    right: -23em;
    width: 6em;
    z-index: 2;
}

.image_absolute_4 {
    position: absolute;
    bottom: 14em;
    left: -30em;
    width: 15em;
    z-index: 0;
    opacity: 0.8;
}


.image_absolute_6 {
    position: absolute;
    top: 9em;
    right: -34em;
    width: 9em;
    z-index: 2;
}

.image_absolute_7 {
    position: absolute;
    top: -17em;
    left: 4em;
    width: 5em;
    z-index: 1;
}


/* 풀스택 end */

/* 빅데이터 start */

.image_absolute_9 {
    position: absolute;
    top: 7.5em;
    left: 36em;
    width: 15em;
    z-index: -1;
    opacity: 0.9;
}
.image_absolute_10 {
    position: absolute;
    top: 15em;
    right: -36em;
    width: 7em;
    z-index: 2;
}

.image_absolute_11 {
    position: absolute;
    top: 5em;
    left: -18em;
    width: 3em;
    z-index: 2;
}
.image_absolute_12 {
    position: absolute;
    top: 5em;
    left: 32em;
    width: 3em;
    z-index: 2;
}
.image_absolute_13 {
    position: absolute;
    top: 9.5em;
    left: -2em;
    width: 20em;
    z-index: 2;
    opacity: 0.9;
}
.image_absolute_27 {
    position: absolute;
    top: 5.5em;
    left: 5em;
    width: 16em;
    z-index: 1;
    opacity: 0.9;
}

/* 빅데이터 end */

/* PM start */
.image_absolute_16 {
    position: absolute;
    top: 7.5em;
    left: 21.5em;
    width: 14em;
    z-index: -1;
}
.image_absolute_17 {
    position: absolute;
    top: -46em;
    left: -133px;
    width: 3em;
    z-index: 1;
}
.image_absolute_18 {
    position: absolute;
    top: -46em;
    left: 334px;
    width: 3em;
    z-index: 1;
}
.image_absolute_19 {
    position: absolute;
    top: -32em;
    left: -23em;
    width: 8em;
    z-index: 1;
}
.image_absolute_20 {
    position: absolute;
    top: -32em;
    left: 32em;
    width: 8em;
    z-index: 1;
}

.image_absolute_21 {
    position: absolute;
    top: -32em;
    left: 4em;
    width: 8em;
    z-index: 1;
}
.image_absolute_22 {
    position: absolute;
    top: 2em;
    left: 22em;
    width: 6em;
    z-index: 2;
}
.image_absolute_23 {
    position: absolute;
    top: -27em;
    left: -23em;
    width: 7em;
    z-index: 1;
}
.image_absolute_24 {
    position: absolute;
    top: 3em;
    left: 36.5em;
    width: 4em;
}
.image_absolute_25 {
    position: absolute;
    top: -46em;
    left: -23em;
    width: 10em;
    z-index: 2;
}
.image_absolute_26 {
    position: absolute;
    top: -46em;
    left: 29em;
    width: 10em;
    z-index: 2;
}

/* PM end */



@media (max-width:1399px) {
    .image_absolute_6 {
        top: 30em;
        right: -14em;
        width: 7em;
    }
    .image_absolute_7 {
        top: -18em;
        left: -18em;
        width: 5em;
    }
    .image_absolute_10 {
        display: none;
    }

    .image_absolute_14 {
        top: 11em;
        left: 21em;
        width: 5em;
    }
    .image_absolute_15 {
        top: 58em;
        left: -11em;
        width: 5em;
    }

    .image_absolute_17 {
        top: -1484px;
        left: 97px;
    }
    .image_absolute_18 {
        top: -1060px;
        left: 97px;
    }
    .image_absolute_19 {
        display: none;
    }
    .image_absolute_20 {
        display: none;
    }
    .image_absolute_21 {
        top: -35em
    }
}
@media (max-width:993px) {
    .image_absolute_3 {
        top: 16em;
        right: -3em;
    }
}

@media (max-width:979px) {
    .image_absolute_4 {
        display: none;
    }
    .image_absolute_5 {
        display: none;
    }
}

@media (max-width:849px) {
    .image_absolute_6 {
        top: 30em;
        right: -5em;
        width: 5em;
    }
    .image_absolute_7 {
        top: -17em;
        left: -5em;
        width: 4em;
    }
    .image_absolute_23 {
        top: -8em;
        left: -4em;
        width: 3em;
    }
}


@media (max-width:767px) {
    .image_absolute_11 {
        top: 4em;
        left: -4.5em;
        width: 2em;
    }
    .image_absolute_12 {
        top: 4em;
        left: 18em;
        width: 2em;
    }
    .image_absolute_13 {
        top: 6em;
        left: 3em;
        width: 9em;
    }
    .image_absolute_17 {
        top: -1514px;
        left: 104px;
        width: 2.5em;
    }
    .image_absolute_18 {
        top: -1047px;
        left: 104px;
        width: 2.5em;
    }
    .image_absolute_21 {
        top: -39em;
    }

}
@media (max-width:1099px) {
    .image_absolute_1 {
        top: 5em;
        left: 13em;
        width: 6em;
    }
    .image_absolute_2 {
        left: 15em;
        width: 12em;
    }
    .image_absolute_8 {
        top: -0.5em;
        left: 8em;
        width: 8em;
    }
    .image_absolute_9 {
        left: 27em;
        width: 12em;
    }
    .image_absolute_11 {

        left: -12em;
        width: 2em;
    }
    .image_absolute_12 {
        left: 25em;
        width: 2em;
    }
    .image_absolute_13 {
        top: 8em;
        left: 0;
        width: 13em;
    }
    .image_absolute_16 {
        left: 16.5em;
        width: 11em;
    }
    .image_absolute_22 {
        top: 2em;
        left: 18em;
        width: 5em;
    }
    .image_absolute_24 {
        left: 29em;
        width: 3em;
    }
    .image_absolute_25 {
        top: -36em;
        left: -9em;
        width: 8em;
    }

    .image_absolute_26 {
        top: -36em;
        left: 16em;
        width: 8em;
    }
    .image_absolute_27 {
        top: 5em;
        left: 5em;
        width: 13em;
    }
}

@media (max-width:812px) {
    .image_absolute_1 {
        top: 4em;
        left: 12em;
        width: 5em;
    }
    .image_absolute_2 {
        left: 10em;
        width: 8em;
    }
    .image_absolute_8 {
        top: 0;
        left: 5em;
        width: 6em;
    }
    .image_absolute_9 {
        left: 18em;
        width: 7.5em;
    }
    .image_absolute_11 {
        top: 4em;
        left: -4em;
        width: 1em;
    }
    .image_absolute_12 {
        top: 4em;
        left: 18.5em;
        width: 1em;
    }
    .image_absolute_13 {
        top: 6em;
        left: 3em;
        width: 8em;
    }
    .image_absolute_14 {
        top: 9em;
        left: 16em;
        width: 4em;
    }
    .image_absolute_15 {
        top: 61em;
        left: -4em;
        width: 3em;
    }
    .image_absolute_16 {
        left: 11em;
        width: 7em;
    }
    .image_absolute_22 {
        top: 3em;
        left: 14.5em;
    }
    .image_absolute_24 {
        top: 3.5em;
        left: 21.5em;
        width: 2em;
    }
    .image_absolute_25 {
        top: -22em;
        left: 0;
        width: 4em;
    }
    .image_absolute_26 {
        top: -22em;
        left: 12em;
        width: 4em;
    }
    .image_absolute_27 {
        top: 4em;
        left: 6em;
        width: 8em;
    }
}
