.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
}
.container_bottom {
  margin-bottom: 10rem;
}

.container_bottom {
  margin-bottom: 10rem;
}

.border1 {
  box-shadow: 2px 2px 10px 1px gray;
}

.box_shadow_in {
  box-shadow: inset -5px 0 1px gray;
}

/* index.test */

.small_title {
  text-align: left;
  padding-bottom: 15px;
  color: var(--c-main3);
}

.title_sub_1 {
  text-align: left;
}

.title_sub_2 {
}

.card-image {
  width: 400px;
}

@media screen and (max-width: 1406px) {
  .card-image {
    width: 100%;
  }
}

.course_button {
  background-color: var(--c-main);
  width: 100%;
  padding: 1rem 1rem;
  color: var(--c-white);
  border: none;
  border-radius: 15px;
  font-size: 14px;
}

.course_button:hover {
  background-color: var(--c-hover);
  color: var(--c-white);
}
.small_title_2 {
  text-align: center;
  padding-bottom: 15px;
  color: var(--c-main3);
}

.font_strong {
  color: var(--c-main3);
}

.benefits_title {
  color: var(--c-main3);
  font-size: 1.25em;
  font-weight: bold;
  border-width: 0 0 1px;
  border-color: var(--c-main3);
  border-style: solid;
  padding-bottom: 0.5rem;
}
.benefits_sub {
  display: flex;
  margin-top: 1.5rem;
}

.benefits_sub_in {
  margin: 0.5rem 1rem;
}

.title_2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.subtitle_2 {
  margin-bottom: 4rem;
}

.image_section {
  width: 300px;
  height: 400px;
}

.multiline_box_1 {
  margin: -5px;
  padding-bottom: 20px;
}

.media-left {
  margin: 0;
  width: 50px;
  height: auto;
}

/* 푸터 구역 스타일 */

.ft {
  clear: both;
  width: 100%;
  height: 192px;
  text-align: left;
  box-shadow: 0px -10px 30px #ccc;
  background: #172538;
}

.ft::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.ft_wrap {
  clear: both;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 30px;
  padding-top: 46px;
}

.ft_link {
  clear: both;
  width: 1200px;
  margin: 0 auto;
}

.ft_link::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.fnb {
  float: left;
}

.fnb a {
  color: #f1f1f1;
}

.fnb::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.fnb li {
  float: left;
}

.fnb li::after {
  content: " |";
  color: #f1f1f1;
  padding: 0 10px;
}

.fnb li:last-child::after {
  content: "";
}

.snb {
  float: right;
}

.snb::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.snb li {
  float: left;
  margin-left: 14px;
  background-repeat: no-repeat;
  background-size: cover;
}

.snb li a {
  display: block;
  width: 50px;
  height: 34px;
  border-radius: 20px;
  font-size: 22px;
  color: #f1f1f1;
}

.snb li a:hover {
  color: #a2aec7;
}

.locate {
  float: left;
}

.snb li.locate {
  background-image: none;
  width: 200px;
  height: 34px;
  margin-top: 0;
  line-height: 48px;
}

.snb li.locate option {
  display: block;
  height: 48px;
  line-height: 48px;
  min-height: 48px;
}
#sel {
  height: 40px;
  width: 200px;
}

.ft_wrap_hole {
  display: flex;
}

.ft_wrap2 {
  clear: both;
  width: 1200px;
  padding: 40px 0px;
  padding-left: 200px;
  margin-left: 400px;
  text-align: left;
}

.copyright {
  font-weight: normal;
  line-height: 25px;
  font-size: 12px;
  text-align: left;
}

.copyright span {
  color: #f1f1f1;
}

.cp {
  font-size: 12px;
  color: #f1f1f1;
  line-height: 20px;
  margin-top: 10px;
  text-align: left;
}

.cp_1 {
  align-self: flex-end;
  padding-bottom: 15px;
}

.ft_logo {
  width: 139px;
  height: 31px;
}

.last_container {
  padding-bottom: 10rem;
}

/* gotop */

.gotop {
  display: none;
  position: fixed;
  right: 2%;
  top: 92%;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: var(--c-black);
  color: var(--c-white);
  transition: all 0.2s ease-in-out;
}

.gotop:hover {
  background-color: var(--c-main);
}
