/* 모바일 */

@media (max-width:1399px) {
    .men_slide {
        height: auto;
    }
    .container {
        padding: 0 10px;
    }
    .img-class1 {
        display: none;
    }
    .pm_slide_wrap .slick-prev {
        bottom: 0;
    }

    .pm_slide_wrap .slick-next {
        bottom: 0;
    }
    body {
        overflow-x: hidden;
    }


}

@media (max-width: 1023px) {
    .radius1_cur {
        background: white;
        width: 442px;
        border-radius: 20px;
        margin: 0 auto 2rem;
        padding: 2rem;
    }

    .container_1 {
        padding-bottom: 7em;
    }
    .columns {
        flex-wrap: nowrap;
    }
    .features {
        width: 100%;
    }

    .title {
        font-size: 1.5rem;
    }

    .title_big {
        font-size: 34px;
    }

    .small_title {
        font-size: 90%;
    }
}

@media (max-width:899px) {
    .subSign_form {
        width: 100%;
        padding: 10px
    }

    .card-image {
        padding-bottom: 1rem;
    }

    .sign_form {
        position: initial;
        width: 100%;
        padding: 10px;
        background-color: white;
        font-size: 80%;
        overflow: scroll;
        height: 100%;
        transform: translate(0, 0);
        border-radius: initial;
    }
    .sign_field:not(:last-child) {
        margin-bottom: 0.5em;
    }
    .burger_btn {
        display: block;
    }
    .main.back_black .container{
        padding-bottom: 2em;
        padding-top: 3em;
    }
    .main.back_black .container:nth-child(1) {
        padding-top: 3em;
    }

    .img_section2_mobile {
        width: 100%;
        max-width: 504px;
    }

    .index_ex_mobile {
        border-radius: 20px;
        object-fit: contain;
    }

    .profile_card {
        display: none;
    }
    .profile_card_mobile {
        display: flex;
    }
    .slick-slider_wrap {
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    .slick-slider_section2 {
        margin: 0 auto;

    }

    .column {
        width: 55%;
        margin: 1rem auto 2rem;
        border-radius: 20px;
        box-shadow: 0 5px 15px 0 gray;
    }

    .main_section1 {
        padding-bottom: 1em;
    }

    .main_section2 {
        padding-bottom: 2em;
    }

}

@media (max-width:767px) {
    .title_big {
        color: var(--c-black);
        margin-bottom: 1.25rem;
        font-size: 22px;
        font-weight: 700;
    }

    .small_title {
        font-size: 12px;;
    }

    .ft_wrap {
        flex-direction: column;
    }

    .copyright {
        font-size: 75%;
    }

    .navbar-menu {
        display: none;
    }

    .cp_img_wrap {
        flex-direction: column;
        align-items: baseline;
    }

    .button {
        font-size: 14px;
    }

    .faq {
        font-size: 83%;
        padding: 5px 0;
    }

    .member {
        width: 100%;
    }

    .features {
        align-items: center;
        display: flex;
    }

    .radius1_cur_re {
        max-width: 100%;
    }

    .title {
        font-size: 1rem;
    }

    .radius1_cur {
        border-radius: 20px;
        margin-bottom: 6rem;
        padding: 2rem;
    }

    .main .container {
        padding-bottom: 0;
        padding-top: 2em;
    }

    .edu_card {
        padding-top: 0;
    }

    .main_section4 {
        margin: 0 auto;
    }

    .column_767 {
        padding: 1em;
    }

    .column {
        width: 67%;
    }
}


@media (max-width:450px) {
    body {
        font-size: 60%;
    }
    .direct_column {
        flex-direction: column;
    }
    .mentoring_wrap_mobile {
        display: block;
    }
    .mentoring_wrap {
        display: none;
    }
    .men_text {
        font-size: 60%;
    }
    .map_box {
        flex-direction: column;
    }
    .map {
        width: 65%;
        height: 250px;
        margin: 0 auto;
    }
    .procedure {
        display: none;
    }
    .procedure_mobile {
        display: flex;
        flex-direction: column;
    }
    .review_content {
        position: relative;
    }
    .review_image_wrap {
        display: none;
    }
    .review_image_mobile {
        display: block;
        height: 360px;
    }
    .port_content {
        display: none;
    }
    .port_content_mobile {
        display: block;
    }
    .pm_port_wrap_mobile {
        display: flex;

    }
    .pm_port_wrap {
        display: none;
        margin: 0;
    }
    .ud_m {
        padding: 2em 10px;
    }
    .subSign_form {
        font-size: 80%;
    }

    .subSign_form p {
        font-size: 12px;
    }
    .main.back_lightgray {
        padding: 0;
        margin: 2em 0 5em;
    }
    .agree {
        font-size: 90%;
    }
    .agree_check {
        margin: 1em 0.5em;
        font-size: 85%;
    }
    .gotop {
      z-index: -100;
    }
    .sign_form h1 {
        margin: 2rem 0;
        font-size: 200%;
    }
    .close_btn {
        right: 14px;
        top: 8px;
        padding: 2px 7px;
    }

    .men_slide_item {
        animation: initial;
    }
    .slick-prev {
        width: 20px;
        height: 20px;
    }
    .slick-next {
        width: 20px;
        height: 20px;
    }

    .banner_hole {
        height: 530px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img_100vw {
        height: 530px;
    }
    .slick-slider_banner .slick-prev {
        bottom: 2em;
        right: 2em;
        z-index: 1;
    }

    .slick-slider_banner .slick-next {
        right: 0;
        bottom: 2em;
        z-index: 1;
    }
    .column {
        width: 100%;
    }
    .procedure_title {
        padding-top: 0;
    }
    .map_450 {
        margin-top: 1.5em;
    }
    .recru_mt5 {
        margin-top: 5em;
    }
    .big_mg {
        margin: 1em 0;
        padding: 3em 10px;
    }
}

@media (max-width: 350px) {
    .login-wrapper{
        width: 100%;
        margin: 1rem auto 7em;
    }

    .login_size {
        margin: 0 auto;
        min-height: 59vh;
    }
}

