.banner {
  width: 100%;
  position: relative;
}

.banner_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_box {
  width: 100%;
  height: auto;
  margin: 0;
}

.banner_image {
  width: 40%;
  padding: 7rem 0;
  margin: auto;
}
.banner_title {
  margin: 1rem 0;
}

.banner_btn {
  width: 100%;
  margin-top: 4rem;
}

.page_center {
  justify-content: space-around;
}

.hero.is-fullheight {
  min-height: 50vh;
}

.port_content {
  color: var(--c-white);
  width: 49.5%;
  margin-bottom: 5rem;
  font-size: 18px;
}

.port_image {
  margin: 0.25rem;
}

.bigdata_image {
  height: 220px;
}

.image_title {
  background-color: var(--c-sub2);
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 50px 50px 0 0;
}

.category ul {
  padding: 0;
}
.category li {
  display: flex;
  margin-bottom: 2.25em;
}

.category_p {
  display: inline-block;
  color: var(--c-white);
}

.category_right {
  text-align: right;
}

.curri_text {
  display: flex;
  background-color: var(--c-sub);
  font-size: 28px;
  width: 30%;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}


.curri_text_in {
  font-weight: 800;
  text-align: center;
  color: var(--c-white);
}

.curri_wrap {
  margin-left: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.curri_img_box {
  width: 24%;
}

.curri_img {
  width: 95%;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  object-fit: contain;
}

.curri_box {
  width: 100%;
  height: auto;
  border: 1px solid var(--c-white_2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.curri_content {
  padding: 2.25rem 0;
  margin: 0 6rem;
  height: auto;
}

.curri_sub_text {
  margin-left: 0.75rem;
  display: inline-block;
  width: auto;
}

.curri_sub_text p {
  font-size: 1rem;
  line-height: 2;
  color: var(--c-white);
}

.curri_ico {
  width: 100%;
  border-radius: 10px;
}



.image {
  margin: 0;
  padding: 0;
  background-size: cover;
}

.port_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem
}
.port_imgae_wrap{
  display: flex;
  justify-content: space-between;
}




/* 모집 카드 */
.recru_content {
  display: flex;
  justify-content: space-between;
}

.recru_wrap {
  display: flex;
  justify-content: space-between;
  width: 49%;
  margin: 4% 0;
  height: 350px;
}

.recru_card {
  background-color: var(--c-white_ob);
  border: none;
  color: var(--c-white);
  border-radius: 30px;
  width: 48%
}


.titleCard {
  text-align: center;
  background-color: var(--c-sub);
  padding: 10px 7px 0;
  width: 50%;
  height: 50px;
  margin: 0 auto;
  border-radius: 0 0 130px 130px;
  font-size: 20px;
  color: var(--c-white);
  font-weight: bold;
}

.titleCard_2 {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  background-color: var(--c-sub);
  padding: 0.75rem;
  width: 50%;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  color: var(--c-white);
}

.titleCard_3 {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  background-color: var(--c-sub);
  padding: 0.75rem;
  width: 90%;
  color: var(--c-white);
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}

.subtitleCard {
  list-style: disc;
  line-height: 1.5;
  text-align: left;
  margin: 30px 0;
  padding: 0 50px;
  font-size: 18px;
  font-weight: normal;
  color: var(--c-white);
}

@media screen and (max-width: 1049px) {


}

@media screen and (max-width: 899px) {

}

/* 모집 안내 */

#orangeArrow {
  position: relative;
  top: -110px;
  right: -203px;
}

#infoFullTitle {
  height: 120px;
}

#infoFull_subtitle {
  padding-top: 10px;
}

.cardFull {
  border: none;
  background-color: var(--c-white_ob);
  border-radius: var(--border_radius);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card_wrap {
  width: 50%;
}

.card_box {
  display: flex;
  height: 150px;
  margin: 3rem;
}

.iconBox {
  width: 25%;
  background-color: var(--c-sub);
  border: none;
  border-radius: var(--border_radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconCard {
  position: relative;
  text-align: center;
}
.iconCard p {
  font-weight: bold;
}
.in_box {
  display: flex;
  width: 70%;
  background-color: var(--c-white);
  padding: 1rem 3rem;
  border-radius: var(--border_radius);
  margin-left: 2%;
  align-items: center;
  font-weight: bold;
}

.in_box li {
  list-style: disc;
}

.in_box_2 {
  width: 60%;
  height: 150px;
  background-color: var(--c-white);
  color: var(--c-black);
  padding: 1.25rem 2rem;
  border-radius: var(--border_radius);
  font-size: 15px;
}
.in_box_2 li {
  list-style: disc;
}


/* 현직자 멘토링 */

.subtitle_white {
  padding-top: 1rem;
  color: var(--c-white);
}

.subtitle_white_2 {
  padding-top: 2rem;
  color: var(--c-white);
  text-align: center;
}

.title_sub_2 {
  font-size: 15px;
  padding-bottom: 10px;
  color: var(--c-white);
}

/* 교육시설 */

#eduTitleFull {
  padding-bottom: 10px;
}

.buildingImage {
  border-radius: 40px;
  height: 100%;
}

#imgaeB1 {
  width: 100%;
  height: 80%;
}

#imageB2 {
  width: 100%;
  height: 120%;
  position: relative;
  top: -204px;
}

/* #imageB2 {
    width: 100%;
    height: 120%;
    position: relative;
    top: -82px;
} */

#class4 {
  position: relative;
  top: -109px;
}

#letter1 {
  position: relative;
  z-index: 99;
  top: -374px;
  left: 416px;
  width: 25%;
  height: 42px;
  font-size: 12px;
}

#letter2 {
  position: relative;
  z-index: 99;
  top: -471px;
  left: 412px;
  width: 25%;
  height: 42px;
  font-size: 12px;
}

#letter3 {
  position: relative;
  z-index: 99;
  top: -765px;
  left: 416px;
  width: 25%;
  height: 42px;
  font-size: 12px;
}

#letter4 {
  position: relative;
  z-index: 99;
  top: -569px;
  left: 416px;
  width: 25%;
  height: 42px;
  font-size: 12px;
}

#classIcon1 {
  position: relative;
  top: -560px;
  right: -1180px;
}

#classIcon2 {
  position: relative;
  top: -780px;
  left: -58px;
}

/* 선발절차 */

.proImage {
  position: relative;
  top: 20%;
}

/* review 4개 */

.pm_subtitle {
  text-align: left;
  font-size: 20px;
}

.carousel {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.m-padding a {
  margin: 5px;
  background: #ccc;
  display: block;
  border-radius: 5px;
  overflow: hidden;
}
.slider-navigation-previous {
  left: 10px;
}
.slider-navigation-next {
  right: 10px;
}

.review_content {
  padding: 3rem 0;
}

.reverse-columns {
  display: flex;
  justify-content: space-between;
}

#pm_reviewTitle {
  position: relative;
  top: -63px;
  padding-left: 0;
}

/* benefits */

.pm_sandbox {
  padding: 5rem 0 2.2rem 0;
}

.pm_benefits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 20px;
  height: 100%;
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}

.pm_benefits_img {
  float: right;
  height: 4rem;
}

.pm_content {
  padding-left: 0.3rem;
}

.pm_h1 {
  padding-top: 1.2rem;
}

/* digital transformation */
.dt_btn {
  background-color: var(--c-sub);
  padding: 1rem 1.5rem;
  color: var(--c-white);
  border: none;
  border-radius: 30px;
  width: max-content;
  font-weight: bold;
}

.dt_btn_2 {
  background-color: var(--c-sub);
  text-align: center;
  padding: 0.5rem 2rem;
  color: var(--c-white);
  border: none;
  border-radius: 30px;
  width: 140px;
  display: inline-block;
  font-weight: normal;
  transform: translateY(-1px);
}
.pm_dt_box {
  background-color: var(--c-white_ob);
  border-radius: 20px;
  width: 48% !important;
}

.pm_dt1 {
  position: relative;
  top: -184px;
  left: 160px;
}

.pm_dt2 {
  position: relative;
  top: -319px;
  left: 126px;
}

.pm_dt3 {
  position: relative;
  top: -184px;
  left: -245px;
}

.pm_box {
  background-color: var(--c-white_ob);
  color: var(--c-white);
}

.arrow_image {
  position: relative;
  top: 20%;
}
.pick_change {
  display: flex;
  justify-content: center;
}
.pick_image {
  width: 200px;
}

.pick_content {
  color: var(--c-white);
  text-align: center;
  margin-top: 1.75rem;
}

.pick_image_btn {
  width: 60%;
  font-size: 16px;
  margin: 1rem auto;
}

.flex_between_ico {
  display: flex;
  justify-content: space-between;
}



.talent_wrap {
  width: 100%;
  height: 700px;
  margin: 0 1rem 10rem;
  display: flex;
  justify-content: center;
}

.talent_wrap_2 {
  width: 1300px;
  height: 100%;
  position: relative;
  display: flex;
}

.job_box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 15rem;
}

.job_wrap {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
}

.job_image {
  text-align: center;
}

.job_subtitle {
  margin: 1rem 0;
  color: var(--c-white);
  font-weight: bold;
  font-size: 1.25rem;
}

.job_team {
  display: flex;
  width: 100%;
  justify-content: center;
}
.job {
  background-color: var(--c-sub3);
  border-radius: 50%;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.talent_wrap_3 {
  width: 850px;
  height: 587px;
  border: 1px solid var(--c-main);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.talent_3 {
  padding-left: 2rem;
  margin: 1rem 0;
}

.talent_subtitle_3 {
  display: inline-block;
  width: 75%;
  height: auto;
}
.talent_subtitle_3 p {
  margin-left: 0.5rem;
  line-height: 4;
  font-size: 1.25em;
  font-weight: bold;
}

.talent_subtitle_4 {
  font-weight: 800;
  display: inline-block;
  width: 75%;
  height: auto;
}

.talent_subtitle_check {
  display: inline-block;
}

.talent_1 {
  border-radius: 20px;
  background-color: var(--c-white);
  border: 1px solid var(--c-back_lightgray);
  position: absolute;
  width: 600px;
  left: 12%;
  top: 20%;
  height: 300px;
  z-index: -1;
}

.talent_2 {
  border-radius: 20px;
  border: 1px solid var(--c-main);
  background-color: var(--c-white);
  position: absolute;
  width: 700px;
  right: -2%;
  height: 600px;
  box-shadow: 1px 1px 5px var(--c-main);
}



.talent_title {
  margin: 3rem 0 2rem;
  text-align: center;
  font-weight: 900;
  font-size: 1.75em;
}
.talent_subtitle {
  list-style: disc;
  font-size: 1em;
  margin: 1.5rem 0 0 4rem;
}

.talent_subtitle_2 {
  font-size: 1em;
  margin: 0.5rem 0 0 4rem;
  line-height: 1.5;
}

.slide_index {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  user-select: none;
  height: auto;
}

.slide_index_item {
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  transition: left 1s;
}

.slide {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 700px;
  user-select: none;
  height: 530px;
}

.slide_item {
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  width: 100%;
  height: 520px;
  flex-shrink: 0;
  transition: left 1s;
}
.slide_item img {
  padding: 3rem 0;
}

.slide_a {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  user-select: none;
  height: auto;
}

.slide_a_item {
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  width: 100%;
  height: 450px;
  flex-shrink: 0;
  transition: left 1s;
}
.slide_b {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  user-select: none;
  height: auto;
}

.slide_b_item {
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  width: 100%;
  height: 450px;
  flex-shrink: 0;
  transition: left 1s;
}
.slide_d {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  user-select: none;
  height: auto;
}

.slide_d_item {
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  width: 100%;
  height: 450px;
  flex-shrink: 0;
  transition: left 1s;
}
.button_group {
  display: flex;
  position: absolute;
  top: 28em;
  right: 0;
  z-index: 1;
}

.button_wrap {
  display: flex;
  justify-content: center;
}
.slide_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 3rem;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: var(--c-white);
  background-color: var(--c-main);
  cursor: pointer;
}

.slide_prev_button {
  left: 15rem;
  top: 30rem;
}
.slide_next_button {
  right: 15rem;
  top: 30rem;
}

/* 페이지네이션 스타일 */

.slide_pagination {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.slide_pagination > li {
  color: var(--c-sub2);
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: var(--c-main);
}

.slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left 0.15s;
}

.slide_img {
  background-size: cover;
}

.slide_index_pagination {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slide_index_pagination > li {
  color: var(--c-sub2);
  cursor: pointer;
  font-size: 25px;
}
.slide_index_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: var(--c-main);
}

.slide_index_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: var(--c-white);
  background-color: var(--c-main);
  cursor: pointer;
}


.review_image_wrap {
  display: flex;
  justify-content: center;
}

.index_banner {
  width: 100%;
  position: absolute;
  height: 500px;
}

.six_box {
  display: flex;
  width: 100%;
  height: 800px;
  padding-bottom: 8rem
}

 .six_image {
   background-image: url("/static/images/picture/bigdata/six_big.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   width: 100%;
   height: 100%;
 }


.Ladder_wrap {
  display: flex;
  flex-direction: column;
  height: 1000px
}

.Ladder_1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 20px;
}

.Ladder_2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  align-items: baseline;
  top: -3%;
}

.Ladder_content {
  width: 49%;
  position: relative;
}

.Ladder_image_1 {
  height: 450px;
  border-radius: 20px;
  width: 100%;
}

.Ladder_image_2 {
  height: 500px;
  border-radius: 20px;
  width: 100%;

}

.absolute_right {
  position: absolute;
  right: 3%;
  top: 3%;
}

.DTS_content {
  display: flex;
  justify-content: space-between;
}

.DTS_wrap {
  width: 48%;
  padding: 2rem;
  border: none;
  border-radius: 20px;
  position: relative;
  margin: 0.5em 0;
  height: 400px;
  background-color: var(--c-back_darkgray);
}

.DTS_text {
  height: 100%;
  width: 90%;
  margin: 0 0.5rem;
}

.DTS_text p {
  line-height: 1.5;
  padding-left: 1rem;
  color: var(--c-white);
  margin-top: 1.25rem;
}

.DTS_btn {
  background-color: var(--c-main);
  padding: 0.75em 2em;
  color: var(--c-white);
  border: none;
  border-radius: 30px;
  width: max-content;
  font-weight: bold;
}
.curri_full {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.curri_full_box {
  padding: 2em 2em 0;
  border: 1px solid var(--c-back_gray);
  background-color: var(--c-back_darkgray);
  border-radius: 30px;
  width: 450px;
  height: auto;
  margin: 1rem;
}

.curri_full_text {
  line-height: 2;
  padding-left: 0.5rem;
  color: var(--c-white);
  font-weight: bold;
  margin-top: 0.5em;
}
.curri_full_box ul{
  margin: 0.5rem 0 2rem;
}

.curri_pm_full {
  display: flex;
  justify-content: space-between;
}
.curri_pm_full_2 {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}
.curri_pm_box {
  padding: 0 2rem;
  border: 1px solid var(--c-sub);
  border-radius: 10px;
  width: 33.3%;
  height: auto;
  margin: 0.5em;
}

.curri_pm {

}
.curri_pm ul {
  margin: 1.5rem 1rem;
}
.curri_pm li {
  list-style: disc;
}

.pm_image_wrap {
  width: 100%;
  margin: 1rem 0;
}

.pm_image {
  margin: 0.5rem 0.5rem 0.5rem 0;
  max-width: 200px;
  height: 64px;
  border-radius: 10px;
}

.pm_self_wrap {
  width: 100%;
  height: 700px;
  margin: 0 1rem 10rem;
  display: flex;
  justify-content: center;
}

.pm_road_wrap {
  width: 100%;
}

.pm_road_box {
  display: flex;
  justify-content: space-between;
  margin-top: 10em;
}

.pm_road_image {
  width: 650px;
  margin: 0 auto;
}

.pm_road_image_2 {
  width: 650px;
  margin: 0 auto;
}

.map_box {
  display: flex;
}

.map {
  width: 60%;
  height: 500px;
}
.map_content {
  margin-left: 2rem;
}

.map_text {
  margin: 0 1rem 2rem;
}

.map_btn {
  background-color: var(--c-main);
  padding: 0.75em 2em;
  color: var(--c-white);
  border: none;
  border-radius: 30px;
  width: max-content;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.map_text_in {
  line-height: 2;
  padding-left: 0.5rem;
  color: var(--c-white);
  font-size: 18px;
  margin-bottom: 2.5rem;
}

.map_icons {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}

.map_text p{
  display: flex;
  align-items: center;
  color: var(--c-white);
}

.map_position {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}