
:root{
    --c-main: #757AFD;
    --c-card_back: #888888e0;
    --c-card_border: #dddddde0;
    --c-black: black;
    --c-white: white;
    --c-hover: #5f64d7;
    --c-main_back: #292929;
    --border_radius: 30px;
    --c-font-gray: #BFBFBF;
}

.text_center{
    text-align: center;
}

.page_center{
    justify-content: space-around;
}

.card_center{
    justify-content: space-around;
    background-color: var(--c-card_back);
    border-radius: var(--border_radius);
    color: var(--c-black);
}

.hero.is-fullheight {
    min-height: 50vh;

}

.border_ra {
    border-radius: var(--border_radius)
    
}

.box_color {
    background-color: var(--c-card_back);
    border: 1px solid var(--c-card_border);
    color: var(--c-white);
}

.in_box {
    width: 350px;
    min-height: 200px;
    background-color: var(--c-white);
    color: var(--c-black);
    padding: 1rem 1rem;
    border-radius: var(--border_radius);
}

@media screen and (max-width: 1215px) {  
    .in_box {
        width: 200px;
    }
    
}

@media screen and (max-width: 1023px) {  
    .in_box {
        width: 350px;
    }
    
}

.title {
    color: var(--c-white);
}
.subtitle{
    padding-top: 2rem;
    /*color: var(--c-font-gray) !important;*/
    text-align: center;
}

.subtitle_left {
    padding-top: 2rem;
    color: var(--c-font-gray) !important;
    text-align: left;
}

.subtitle strong, p  {
    color: var(--c-white);

}

.columns{
    margin: 0;
    padding: 0;
}
.button{
    background-color: var(--c-main);
    padding: 1rem 1.5rem;
    color: var(--c-white);
    border: none;
    border-radius: 30px;
}


.button:hover{
    background-color: var(--c-hover);
    color: var(--c-white);
}

.btn{
    background-color: var(--c-main);
    padding: 1rem 1.5rem;
    color: var(--c-white);
    border: none;
    border-radius: 30px;
}

.btn2{
    background-color: var(--c-white);
    padding: 1rem 1.5rem;
    color: var(--c-main);
    border: none;
    border-radius: 30px;
}

.category li{
    margin-bottom: 0.75rem;

}
.mb-6 {
    margin-top: 3rem;
}

.columns.is-multiline {
    flex-direction: row;
}



.curri_text {
    margin: 0;
    padding: 0;
    flex: none;
    background-color: var(--c-main);
    color: var(--c-white);
    font-size: 32px;
    text-align: center;
    width: 20%;
   
}

@media screen and (max-width: 768px) {  
    .curri_text {
        width: 100%
    };
    
}

.curri_text_in {
    transform: translateY(-50%);
}

.curri_img {
    margin: 0;
    padding: 0;
    width: 100%;
}

.image {
    margin: 0;
    padding: 0;
    background-size: cover;
}

.port_box {
    display: flex;
}


.display_block {
    display: block;
    margin: 0 0.75rem;
}

@media screen and (max-width: 1024px) {  
    .port_box {
        display: block;
    };
    
}

@media screen and (max-width: 1024px) {  
  
    .display_block {
        margin: 7rem 0.75rem;
    };
}

.display_block li {
    padding: 0 0.5rem;
}


.bottom_banner {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background-color: var(--c-card_border);
}

.ban_wrap {
    position: relative;
    top: 30%;
    display: flex;
    justify-content: space-around;
    
}

.ban_text{
    color: var(--c-black);
    font-size: 18px;
    font-weight: bold;
}