<!DOCTYPE html>
<html lang="en">
  <head>
    <title>App Page</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="icon" href="favicon.ico" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="./main.css" />
    <link rel="stylesheet" type="text/css" href="./bulma_css/hero.css" />
  </head>
  <body>
    <div class="main">
      <section class="container">

        <!-- 모집 카드 start -->
        <section class="section">
          <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
              <article class="tile is-child box box_color border_ra">
                <p class="title">모집기간</p>
                <p class="subtitle">
                  <strong>모집</strong>
                  <br />
                  2023.03.12 ~ 2024.04.19
                  <br />
                  <br />
                  <strong>합격자 발표</strong>
                  <br />
                  인터뷰 이후 일주일 이내
                </p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box box_color border_ra">
                <p class="title">지원방법</p>
                <p class="subtitle">
                  <strong>서류 심사</strong>
                  <br />
                  신청폼 작성
                  <br />
                  <br />
                  <strong>면접심사</strong>
                  <br />
                  대면/비대면 인텨뷰
                  <br />
                  <br />
                  <strong>합격자 발표</strong>
                  <br />
                  문자 개별통보
                </p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box box_color border_ra">
                <p class="title">참여대상</p>
                <p class="subtitle">
                  <strong
                    >국민 내일배움카드 보유 혹은 발급 가능한 자
                    <br />
                    <br />
                    K-Digital Traning 수강 이력이 없는 자</strong
                  >
                </p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box box_color border_ra">
                <p class="title">교육기간</p>
                <p class="subtitle">
                  <strong>교육</strong>
                  <br />
                  2024.04.23 ~ 2024.10.29 (약 6개월)
                </p>
              </article>
            </div>
          </div>
        </section>
        <!-- 모집 카드 end -->

        <!-- 맛보기 카드 start -->
        <section class="section">
          <div class="hero-body">
            <div class="columns is-vcentered reverse-columns">
              <div
                class="column is-10-mobile is-10-tablet is-5-desktop is-5-widescreen is-5-fullhd"
                data-aos="fade-down"
              >
                <h1 class="title titled is-1 mb-6">
                  우수 교육생 천재그룹 채용까지 실제 수료생분들이 추천합니다.
                </h1>
                <p class="subtitle">
                  1기, 2기 수료생 전원 인턴 100% 1기, 2기 90이상 직원 전환!
                  6개월 REAL REVIEW로 빅데이터 과정 미리보기
                </p>
                <div class="buttons">
                  <button class="button is-yellow">
                    Esablished technical teams
                  </button>
                </div>
              </div>
              <div
                data-aos="fade-right"
                class="column is-10-mobile is-10-tablet is-4-desktop is-7-widescreen is-4-fullhd is-offset-1-fullhd"
              >
                <figure class="image is-square">
                  <img src="../images/undraw_Camera_re_cnp4.svg" />
                </figure>
              </div>
            </div>
          </div>
        </section>
        <!-- 맛보기 카드 end -->

        <!-- 모집 안내 start -->
        <section class="section">
          <div class="mb-6 pb-3 columns is-multiline">
            <div class="is-12 is-6-desktop mx-auto has-text-centered">
              <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">
                모집 안내
              </h2>
              <p class="subtitle has-text-grey mb-5">모집개요</p>
            </div>
          </div>
          <div class="columns is-multiline card_center">
            <div class="column is-12 is-4-desktop">
              <div class="mb-6 is-flex">
                <span>
                  <svg
                    width="48"
                    height="48"
                    viewbox="0 0 48 48"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M25.6 22.9C25.7 23 25.8 23 26 23H33C33.6 23 34 22.6 34 22C34 21.8 34 21.7 33.9 21.6L30.4 14.6C30.1 14.1 29.5 13.9 29 14.2C28.9 14.3 28.7 14.4 28.6 14.6L25.1 21.6C24.9 22 25.1 22.6 25.6 22.9ZM29.5 17.2L31.4 21H27.6L29.5 17.2ZM18.5 14C16 14 14 16 14 18.5C14 21 16 23 18.5 23C21 23 23 21 23 18.5C23 16 21 14 18.5 14ZM18.5 21C17.1 21 16 19.9 16 18.5C16 17.1 17.1 16 18.5 16C19.9 16 21 17.1 21 18.5C21 19.9 19.9 21 18.5 21ZM22.7 25.3C22.3 24.9 21.7 24.9 21.3 25.3L18.5 28.1L15.7 25.3C15.3 24.9 14.7 24.9 14.3 25.3C13.9 25.7 13.9 26.3 14.3 26.7L17.1 29.5L14.3 32.3C13.9 32.7 13.9 33.3 14.3 33.7C14.7 34.1 15.3 34.1 15.7 33.7L18.5 30.9L21.3 33.7C21.7 34.1 22.3 34.1 22.7 33.7C23.1 33.3 23.1 32.7 22.7 32.3L19.9 29.5L22.7 26.7C23.1 26.3 23.1 25.7 22.7 25.3ZM33 25H26C25.4 25 25 25.4 25 26V33C25 33.6 25.4 34 26 34H33C33.6 34 34 33.6 34 33V26C34 25.4 33.6 25 33 25ZM32 32H27V27H32V32Z"
                      fill="#00d1b2"
                    ></path>
                    <circle
                      cx="24"
                      cy="24"
                      r="23.5"
                      stroke="#00d1b2"
                    ></circle></svg
                ></span>
                <div class="ml-3 in_box">
                  <h4 class="is-size-4 has-text-weight-bold mb-2">모집분야</h4>
                  <p class="subtitle has-text-grey">AI·데이터</p>
                </div>
              </div>
              <div class="mb-6 is-flex">
                <span>
                  <svg
                    width="48"
                    height="48"
                    viewbox="0 0 48 48"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M25.6 22.9C25.7 23 25.8 23 26 23H33C33.6 23 34 22.6 34 22C34 21.8 34 21.7 33.9 21.6L30.4 14.6C30.1 14.1 29.5 13.9 29 14.2C28.9 14.3 28.7 14.4 28.6 14.6L25.1 21.6C24.9 22 25.1 22.6 25.6 22.9ZM29.5 17.2L31.4 21H27.6L29.5 17.2ZM18.5 14C16 14 14 16 14 18.5C14 21 16 23 18.5 23C21 23 23 21 23 18.5C23 16 21 14 18.5 14ZM18.5 21C17.1 21 16 19.9 16 18.5C16 17.1 17.1 16 18.5 16C19.9 16 21 17.1 21 18.5C21 19.9 19.9 21 18.5 21ZM22.7 25.3C22.3 24.9 21.7 24.9 21.3 25.3L18.5 28.1L15.7 25.3C15.3 24.9 14.7 24.9 14.3 25.3C13.9 25.7 13.9 26.3 14.3 26.7L17.1 29.5L14.3 32.3C13.9 32.7 13.9 33.3 14.3 33.7C14.7 34.1 15.3 34.1 15.7 33.7L18.5 30.9L21.3 33.7C21.7 34.1 22.3 34.1 22.7 33.7C23.1 33.3 23.1 32.7 22.7 32.3L19.9 29.5L22.7 26.7C23.1 26.3 23.1 25.7 22.7 25.3ZM33 25H26C25.4 25 25 25.4 25 26V33C25 33.6 25.4 34 26 34H33C33.6 34 34 33.6 34 33V26C34 25.4 33.6 25 33 25ZM32 32H27V27H32V32Z"
                      fill="#00d1b2"
                    ></path>
                    <circle
                      cx="24"
                      cy="24"
                      r="23.5"
                      stroke="#00d1b2"
                    ></circle></svg
                ></span>
                <div class="ml-3 in_box">
                  <h4 class="is-size-4 has-text-weight-bold mb-2">교육기간</h4>
                  <p class="subtitle has-text-grey">
                    2024.04.23~2024.10.29
                    <br />
                    09~18시(총976시간)
                  </p>
                </div>
              </div>
              <div class="mb-6 is-flex">
                <span>
                  <svg
                    width="48"
                    height="48"
                    viewbox="0 0 48 48"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M25.6 22.9C25.7 23 25.8 23 26 23H33C33.6 23 34 22.6 34 22C34 21.8 34 21.7 33.9 21.6L30.4 14.6C30.1 14.1 29.5 13.9 29 14.2C28.9 14.3 28.7 14.4 28.6 14.6L25.1 21.6C24.9 22 25.1 22.6 25.6 22.9ZM29.5 17.2L31.4 21H27.6L29.5 17.2ZM18.5 14C16 14 14 16 14 18.5C14 21 16 23 18.5 23C21 23 23 21 23 18.5C23 16 21 14 18.5 14ZM18.5 21C17.1 21 16 19.9 16 18.5C16 17.1 17.1 16 18.5 16C19.9 16 21 17.1 21 18.5C21 19.9 19.9 21 18.5 21ZM22.7 25.3C22.3 24.9 21.7 24.9 21.3 25.3L18.5 28.1L15.7 25.3C15.3 24.9 14.7 24.9 14.3 25.3C13.9 25.7 13.9 26.3 14.3 26.7L17.1 29.5L14.3 32.3C13.9 32.7 13.9 33.3 14.3 33.7C14.7 34.1 15.3 34.1 15.7 33.7L18.5 30.9L21.3 33.7C21.7 34.1 22.3 34.1 22.7 33.7C23.1 33.3 23.1 32.7 22.7 32.3L19.9 29.5L22.7 26.7C23.1 26.3 23.1 25.7 22.7 25.3ZM33 25H26C25.4 25 25 25.4 25 26V33C25 33.6 25.4 34 26 34H33C33.6 34 34 33.6 34 33V26C34 25.4 33.6 25 33 25ZM32 32H27V27H32V32Z"
                      fill="#00d1b2"
                    ></path>
                    <circle
                      cx="24"
                      cy="24"
                      r="23.5"
                      stroke="#00d1b2"
                    ></circle></svg
                ></span>
                <div class="ml-3 in_box">
                  <h4 class="is-size-4 has-text-weight-bold mb-2">
                    교육형태 및 장소
                  </h4>
                  <p class="subtitle has-text-grey">
                    오프라인 교육<br />
                    서울 금천구 디지털로9길 23 <br />
                    마리오아울렛2관 11층 <br />
                    천재IT교육센터
                  </p>
                </div>
              </div>
            </div>
            <div class="column is-12 is-4-desktop">
              <div class="mb-6 is-flex">
                <span>
                  <svg
                    width="48"
                    height="48"
                    viewbox="0 0 48 48"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M25.6 22.9C25.7 23 25.8 23 26 23H33C33.6 23 34 22.6 34 22C34 21.8 34 21.7 33.9 21.6L30.4 14.6C30.1 14.1 29.5 13.9 29 14.2C28.9 14.3 28.7 14.4 28.6 14.6L25.1 21.6C24.9 22 25.1 22.6 25.6 22.9ZM29.5 17.2L31.4 21H27.6L29.5 17.2ZM18.5 14C16 14 14 16 14 18.5C14 21 16 23 18.5 23C21 23 23 21 23 18.5C23 16 21 14 18.5 14ZM18.5 21C17.1 21 16 19.9 16 18.5C16 17.1 17.1 16 18.5 16C19.9 16 21 17.1 21 18.5C21 19.9 19.9 21 18.5 21ZM22.7 25.3C22.3 24.9 21.7 24.9 21.3 25.3L18.5 28.1L15.7 25.3C15.3 24.9 14.7 24.9 14.3 25.3C13.9 25.7 13.9 26.3 14.3 26.7L17.1 29.5L14.3 32.3C13.9 32.7 13.9 33.3 14.3 33.7C14.7 34.1 15.3 34.1 15.7 33.7L18.5 30.9L21.3 33.7C21.7 34.1 22.3 34.1 22.7 33.7C23.1 33.3 23.1 32.7 22.7 32.3L19.9 29.5L22.7 26.7C23.1 26.3 23.1 25.7 22.7 25.3ZM33 25H26C25.4 25 25 25.4 25 26V33C25 33.6 25.4 34 26 34H33C33.6 34 34 33.6 34 33V26C34 25.4 33.6 25 33 25ZM32 32H27V27H32V32Z"
                      fill="#00d1b2"
                    ></path>
                    <circle
                      cx="24"
                      cy="24"
                      r="23.5"
                      stroke="#00d1b2"
                    ></circle></svg
                ></span>
                <div class="ml-3 in_box">
                  <h4 class="is-size-4 has-text-weight-bold mb-2">모집인원</h4>
                  <p class="subtitle has-text-grey">각 과정별 20명</p>
                </div>
              </div>
              <div class="mb-6 is-flex">
                <span>
                  <svg
                    width="48"
                    height="48"
                    viewbox="0 0 48 48"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M25.6 22.9C25.7 23 25.8 23 26 23H33C33.6 23 34 22.6 34 22C34 21.8 34 21.7 33.9 21.6L30.4 14.6C30.1 14.1 29.5 13.9 29 14.2C28.9 14.3 28.7 14.4 28.6 14.6L25.1 21.6C24.9 22 25.1 22.6 25.6 22.9ZM29.5 17.2L31.4 21H27.6L29.5 17.2ZM18.5 14C16 14 14 16 14 18.5C14 21 16 23 18.5 23C21 23 23 21 23 18.5C23 16 21 14 18.5 14ZM18.5 21C17.1 21 16 19.9 16 18.5C16 17.1 17.1 16 18.5 16C19.9 16 21 17.1 21 18.5C21 19.9 19.9 21 18.5 21ZM22.7 25.3C22.3 24.9 21.7 24.9 21.3 25.3L18.5 28.1L15.7 25.3C15.3 24.9 14.7 24.9 14.3 25.3C13.9 25.7 13.9 26.3 14.3 26.7L17.1 29.5L14.3 32.3C13.9 32.7 13.9 33.3 14.3 33.7C14.7 34.1 15.3 34.1 15.7 33.7L18.5 30.9L21.3 33.7C21.7 34.1 22.3 34.1 22.7 33.7C23.1 33.3 23.1 32.7 22.7 32.3L19.9 29.5L22.7 26.7C23.1 26.3 23.1 25.7 22.7 25.3ZM33 25H26C25.4 25 25 25.4 25 26V33C25 33.6 25.4 34 26 34H33C33.6 34 34 33.6 34 33V26C34 25.4 33.6 25 33 25ZM32 32H27V27H32V32Z"
                      fill="#00d1b2"
                    ></path>
                    <circle
                      cx="24"
                      cy="24"
                      r="23.5"
                      stroke="#00d1b2"
                    ></circle></svg
                ></span>
                <div class="ml-3 in_box">
                  <h4 class="is-size-4 has-text-weight-bold mb-2">모집기간</h4>
                  <p class="subtitle has-text-grey">2024.03.05 ~ 2024.04.19</p>
                </div>
              </div>
              <div class="mb-6 is-flex">
                <span>
                  <svg
                    width="48"
                    height="48"
                    viewbox="0 0 48 48"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M25.6 22.9C25.7 23 25.8 23 26 23H33C33.6 23 34 22.6 34 22C34 21.8 34 21.7 33.9 21.6L30.4 14.6C30.1 14.1 29.5 13.9 29 14.2C28.9 14.3 28.7 14.4 28.6 14.6L25.1 21.6C24.9 22 25.1 22.6 25.6 22.9ZM29.5 17.2L31.4 21H27.6L29.5 17.2ZM18.5 14C16 14 14 16 14 18.5C14 21 16 23 18.5 23C21 23 23 21 23 18.5C23 16 21 14 18.5 14ZM18.5 21C17.1 21 16 19.9 16 18.5C16 17.1 17.1 16 18.5 16C19.9 16 21 17.1 21 18.5C21 19.9 19.9 21 18.5 21ZM22.7 25.3C22.3 24.9 21.7 24.9 21.3 25.3L18.5 28.1L15.7 25.3C15.3 24.9 14.7 24.9 14.3 25.3C13.9 25.7 13.9 26.3 14.3 26.7L17.1 29.5L14.3 32.3C13.9 32.7 13.9 33.3 14.3 33.7C14.7 34.1 15.3 34.1 15.7 33.7L18.5 30.9L21.3 33.7C21.7 34.1 22.3 34.1 22.7 33.7C23.1 33.3 23.1 32.7 22.7 32.3L19.9 29.5L22.7 26.7C23.1 26.3 23.1 25.7 22.7 25.3ZM33 25H26C25.4 25 25 25.4 25 26V33C25 33.6 25.4 34 26 34H33C33.6 34 34 33.6 34 33V26C34 25.4 33.6 25 33 25ZM32 32H27V27H32V32Z"
                      fill="#00d1b2"
                    ></path>
                    <circle
                      cx="24"
                      cy="24"
                      r="23.5"
                      stroke="#00d1b2"
                    ></circle></svg
                ></span>
                <div class="ml-3 in_box">
                  <h4 class="is-size-4 has-text-weight-bold mb-2">지원자격</h4>
                  <p class="subtitle has-text-grey">
                    국민내일배움카드 보유 혹은 발급<br />
                    가능한 자<br />
                    K-Digital Training 수강 이력이<br />
                    없는 자
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- 모집 안내 end -->

        <!-- 커리큘럼 start -->
        <section class="section">
          <div class="mb-6 pb-3 columns is-multiline">
            <div class="is-12 is-6-desktop mx-auto has-text-centered">
              <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">
                2024년 신규 커리큘럼
              </h2>
              <p class="subtitle has-text-grey mb-5">
                프로젝트 기반 AI·데이터 과정 커리큘럼 <br />
                7기 과정에서 습득하게 될 스킬들!
              </p>
            </div>
          </div>
          <div class="curri_box tile">
            <div class="curri_text border_ra">
              <div class="curri_text_in">
                <p>
                    에듀테크 AI 데이터 <br>
                    개발자 교육과정
                </p>
              </div>
            </div>
            <div
              class="columns is-multiline aos-init aos-animate curri_img"
              data-aos="fade-in"
              data-aos-easing="linear"
            >
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=0');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=10');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=20');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=30');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=40');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=50');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=60');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=70');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=70');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=70');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=70');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=70');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=70');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=70');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=70');
                  "
                ></figure>
              </div>
              <div class="column is-3">
                <figure
                  class="image is-2by1 work-item"
                  style="
                    background-image: url('https://picsum.photos/320/180?image=70');
                  "
                ></figure>
              </div>
            </div>
          </div>
        </section>
        <!-- 커리큘럼 end -->

        <!-- 포트폴리오 start -->
        <section class="section">
          <div class="mb-6 pb-3 columns is-multiline">
            <div class="is-12 is-6-desktop mx-auto has-text-centered">
              <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">
                실무 관련 프로젝트 하고, <br />
                현업에 빠르게 적응하세요
              </h2>
            </div>
          </div>
          <div class="port_box">
            <div class="is-multiline display_block">
              <div class="column">
                <div class="category">
                  <h1 class="title is-5 btn text_center">
                    한자 낱글자 인식 OCR
                  </h1>
                  <hr />
                  <ul>
                    <li>
                      초등학교 한자 공부 능률 향상을 위한 한자 인식 모델 개발
                      목표
                    </li>
                    <li>
                      현재 서비스 중인 밀크T아이의 기초 한자 서비스를 미러링
                    </li>
                    <li>
                      학생들이 입력한 필기체를 알맞은 한자로 분류할 수 있는
                      모델을 설계하는 것
                    </li>
                  </ul>
                </div>
              </div>
              <div class="is-12 post-img">
                <div style="display: flex">
                  <article class="columns is-multiline">
                    <div class="column is-12 post-img">
                      <img
                        src="https://cdn.emk.dev/templates/post-img.png"
                        alt="Featured Image"
                      />
                    </div>
                  </article>
                  <article class="columns is-multiline">
                    <div class="column is-12 post-img">
                      <img
                        src="https://cdn.emk.dev/templates/post-img.png"
                        alt="Featured Image"
                      />
                    </div>
                  </article>
                </div>
                <article class="columns is-multiline">
                  <div class="column is-12 post-img">
                    <img
                      src="https://cdn.emk.dev/templates/post-img.png"
                      alt="Featured Image"
                    />
                  </div>
                </article>
              </div>
            </div>
            <div class="is-multiline display_block">
              <div class="column">
                <div class="category">
                  <h1 class="title is-5 btn2 text_center">
                    인터넷 강의의 언어적 차이 분석
                  </h1>
                  <hr />
                  <ul>
                    <li>
                      Why Isn't My Custom Profile Data Showing on My Tickets?
                    </li>
                    <li>Why Won't My Gmail SMTP Settings Work?</li>
                    <li>Is There a Customer Portal My Users Can Log in To?</li>
                  </ul>
                </div>
              </div>
              <div class="is-12 post-img">
                <div style="display: flex">
                  <article class="columns is-multiline">
                    <div class="column is-12 post-img">
                      <img
                        src="https://cdn.emk.dev/templates/post-img.png"
                        alt="Featured Image"
                      />
                    </div>
                  </article>
                  <article class="columns is-multiline">
                    <div class="column is-12 post-img">
                      <img
                        src="https://cdn.emk.dev/templates/post-img.png"
                        alt="Featured Image"
                      />
                    </div>
                  </article>
                </div>
                <article class="columns is-multiline">
                  <div class="column is-12 post-img">
                    <img
                      src="https://cdn.emk.dev/templates/post-img.png"
                      alt="Featured Image"
                    />
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>

        <!-- 포트폴리오 end -->

        <!-- 사진 1 start -->
        <section class="section">
          <div class="mb-6 pb-3 columns is-multiline">
            <div class="is-12 is-6-desktop mx-auto has-text-centered">
              <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">
                왜 천재IT교육센터일까요?
              </h2>
              <p class="subtitle has-text-grey mb-5">
                현직자 멘토의 집중 멘토링으로 실무자의 시각에서 프로젝트를
                회고할 수 있어요! <br />
                형식적인 멘토링이 아니라, 교육생분들의 커리어에 도움이 되는
                멘토링을 제공합니다
              </p>
            </div>
          </div>
          <div class="columns is-multiline">
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img
                    src="https://cdn.emk.dev/templates/post-img.png"
                    alt="Featured Image"
                  />
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img
                    src="https://cdn.emk.dev/templates/post-img.png"
                    alt="Featured Image"
                  />
                </div>
              </article>
            </div>
          </div>
        </section>
        <!-- 사진 1 end -->

        <!-- 사진 2 start -->
        <section class="section">
          <div class="mb-6 pb-3 columns is-multiline">
            <div class="is-12 is-6-desktop mx-auto has-text-centered">
              <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">
                천재IT교육센터의 교육시설
              </h2>
              <p class="subtitle has-text-grey mb-5">
                교육에만 몰두할 수 있어요!
              </p>
            </div>
          </div>
          <div class="columns is-multiline page_center">
            <div class="post">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img
                    src="https://cdn.emk.dev/templates/post-img.png"
                    alt="Featured Image"
                  />
                </div>
              </article>
            </div>
          </div>
        </section>
        <!-- 사진 2 end -->

        <!-- 사진 3 start -->
        <section class="section">
          <div class="mb-6 pb-3 columns is-multiline">
            <div class="is-12 is-6-desktop mx-auto has-text-centered">
              <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">
                AI 빅데이터 이런 역량을 <br />가진 분이라면 더욱 좋아요!
              </h2>
            </div>
          </div>
          <div class="columns is-multiline page_center">
            <div class="post">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img
                    src="https://cdn.emk.dev/templates/post-img.png"
                    alt="Featured Image"
                  />
                </div>
              </article>
            </div>
          </div>
        </section>
        <!-- 사진 3 end -->

        <!-- 사진 4 start -->
        <section class="section">
          <div class="mb-6 pb-3 columns is-multiline">
            <div class="is-12 is-6-desktop mx-auto has-text-centered">
              <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">
                수료 후 취업 분야는?
              </h2>
            </div>
          </div>
          <div class="columns is-multiline page_center">
            <div class="post">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img
                    src="https://cdn.emk.dev/templates/post-img.png"
                    alt="Featured Image"
                  />
                </div>
              </article>
            </div>
          </div>
        </section>
        <!-- 사진 4 end -->

        <!-- 사진 5 start -->
        <section class="section">
          <div class="mb-6 pb-3 columns is-multiline">
            <div class="is-12 is-6-desktop mx-auto has-text-centered">
              <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">
                선발 절차
              </h2>
            </div>
          </div>
          <div class="columns is-multiline page_center">
            <div class="post">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img
                    src="https://cdn.emk.dev/templates/post-img.png"
                    alt="Featured Image"
                  />
                </div>
              </article>
            </div>
          </div>
        </section>
        <!-- 사진 5 end -->
      </section>
    </div>

    <!-- 하단 배너 start -->
    <div class="bottom_banner">
      <div class="ban_wrap ban_text">
        <div class="ban_text">전액 무료로 교육 인턴 직원 전환까지 한번에 해결하고 싶다면?</div>
        <div class="ban_btn">
          <button type="button" class="button">지금 지원하기 ></button>
        </div>
      </div>
    </div>
    <!-- 하단 배너 start -->

  </body>
</html>
