<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<body>

<th:block th:fragment="main_banner">
    <div class="slide_index slide_index_wrap carousel-container" id="banner">
        <div class="slide_index_item" >
            <div class="banner">
                <img th:src="@{/picture/common/index_banner_bigdata.png}" alt="bigdata banner" class="index_banner">
                <div class="container">
                    <div class="banner_wrap">
                        <div class="banner_box">
                            <h4 class="title_white_sub">천재IT교육센터</h4>
                            <h1 class="banner_title title_white_big">에듀테크 개발자 교육과정</h1>
                        </div>
                        <div class="banner_image">
                            <img th:src="@{/picture/common/index_banner_bigdata_image.png}" alt="bigdata index_image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide_index_item" >
            <div class="banner">
                <img th:src="@{/picture/common/index_fullstack_banner.png}" alt="bigdata banner" class="index_banner">
                <div class="container">
                    <div class="banner_wrap">
                        <div class="banner_box">
                            <h4 class="title_white_sub">천재IT교육센터</h4>
                            <h1 class="banner_title title_white_big">에듀테크 JAVA 풀스택 개발자 교육과정</h1>
                        </div>
                        <div class="banner_image">
                            <img th:src="@{/picture/common/index_banner_full_image.png}" alt="bigdata index_image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide_index_item" >
            <div class="banner">
                <img th:src="@{/picture/common/index_banner_pm.png}" alt="bigdata banner" class="index_banner">
                <div class="container">
                    <div class="banner_wrap">
                        <div class="banner_box">
                            <h4 class="title_white_sub">천재IT교육센터</h4>
                            <h1 class="banner_title title_white_big">에듀테크 프로덕트 매니저(PM) 교육과정</h1>
                        </div>
                        <div class="banner_image">
                            <img th:src="@{/picture/common/index_banner_pm_image.png}" alt="bigdata index_image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button_wrap">
            <div class="slide_index_prev_button slide_button">◀</div>
            <div class="slide_index_next_button slide_button">▶</div>
        </div>
        <ul class="slide_index_pagination"></ul>
    </div>
</th:block>
</body>
</html>



