<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="main_section2">
    <div class="main_section2">
        <div class="container_section2 container">
            <div class="slick-slider_section2">
                <div class="slideWrap">
                    <section class="main_section2">
                        <div class="edu_card">
                            <img class="edu_card_header" th:src="@{/picture/index/main_section2_header.svg}" alt="">
                        </div>
                        <div class="profile_card">
                            <div class="profile_card_batch">
                                <div class="review_image" >
                                    <a href="https://blog.naver.com/chunjae2023/223276145212" target='_blank'><img th:src="@{/picture/index/blog_1.jpg}" class="index_ex"></a>
                                </div>
                                <div class="review_image" >
                                    <a href="https://blog.naver.com/chunjae2023/223280063203" target='_blank'><img th:src="@{/picture/index/blog_2.jpg}" alt="" class=index_ex ></a>
                                </div>
                                <div class="review_image" >
                                    <a href="https://blog.naver.com/chunjae2023/223276796275" target='_blank'><img th:src="@{/picture/index/blog_3.png}" alt="" class="index_ex"></a>
                                </div>
                            </div>
                            <div class="profile_card_text">
                                <a href="https://blog.naver.com/chunjae2023" target='_blank' ><img th:src="@{/picture/index/section2_footer.svg}" alt="" class="img_hover2"></a>
                            </div>

                        </div>
                        <div class="slick-slider_wrap">
                                <div class="slick-slider_section2">
                                    <div class="">
                                        <img th:src="@{/picture/index/blog_1.jpg}" alt="bigdata banner" class="slick-slider_section2 img_section2_mobile index_ex_mobile" >
                                    </div>
                                    <div class="">
                                        <img th:src="@{/picture/index/blog_2.jpg}" alt="bigdata banner" class="slick-slider_section2 img_section2_mobile index_ex_mobile">
                                    </div>
                                    <div class="">
                                        <img th:src="@{/picture/index/blog_3.png}" alt="bigdata banner" class="slick-slider_section2 img_section2_mobile index_ex_mobile">
                                    </div>
                                </div>
                            <div class="profile_card_text">
                                <a href="https://blog.naver.com/chunjae2023" class="img_hover2" target='_blank'><img th:src="@{/picture/index/section2_footer_mobile.svg}" alt="" class="img_hover2"></a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>