<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="main_section4">
    <div class="main_section4">
        <section class="container container_bottom">
            <picture>
                <source srcset="../../../static/images/picture/Rectangle14_mobile.png" media="(max-width: 358px)">
                <img class="radius_2_section4" th:src="@{/picture/main_section4.png}" alt="">
            </picture>
        </section>
    </div>
</th:block>
</body>
</html>
