<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="main_section3">
    <div class="main_section3">
        <section class="container main_section3_hole">
            <picture>
                <source srcset="../../../static/images/picture/main_mobile_section3.png" media="(max-width: 450px)">
                <img class="radius_2_section3" th:src="@{/picture/main_section3.png}" alt="">
            </picture>
        </section>
    </div>
</th:block>
</body>
</html>
