<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="main_section1">
    <div class="container">
        <img th:src="@{/picture/index/section1_img.svg}" alt="" class="section1_img">
        <div class="main_section1">
            <div class="slick-slider_section1">
                <div class="slideWrap">
                    <section class="container_bottom_section1">
                        <div class="container_section1_header1">
                            <picture>
                                <source srcset="../../../static/images/picture/index/section1_1_header_mobile.svg" media="(max-width: 450px)">
                                <img th:src="@{/picture/index/section1_1_header.svg}" alt="">
                            </picture>
                        </div>

                        <div class="profile_card">
                            <div class="columns">
                                <div class="column">
                                    <div class="radius_2_section1">
                                    <img th:src="@{/picture/index/section1_2_ai.svg}" alt=""></div>
                                    <div class="card-content_section1_text">
                                        <a th:href="@{/subSign_big}"><img class="button_sec1" th:src="@{/picture/index/test_btn.svg}" alt=""></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="radius_2_section1">
                                        <img th:src="@{/picture/index/section1_2_full.svg}" alt=""></div>
                                    <div class="card-content_section1_text">
                                        <a th:href="@{/subSign_big}"><img class="button_sec1" th:src="@{/picture/index/test_btn.svg}" alt=""></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="radius_2_section1">
                                        <img th:src="@{/picture/index/section1_2_pm.svg}" alt=""></div>
                                    <div class="card-content_section1_text">
                                        <a th:href="@{/subSign_big}"><img class="button_sec1" th:src="@{/picture/index/test_btn.svg}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="profile_card_mobile">
                            <div class="columns slick-slider_section1">
                                <div class="column_767">
                                <div class="column">
                                    <div class="radius_2_section1">
                                        <img th:src="@{/picture/index/section1_2_ai.svg}" alt=""></div>
                                    <div class="card-content_section1_text">
                                        <a th:href="@{/subSign_big}"><img class="button_sec1" th:src="@{/picture/index/test_btn.svg}" alt=""></a>
                                    </div>
                                </div>
                                </div>
                                <div class="column_767">
                                    <div class="column">
                                    <div class="radius_2_section1">
                                        <img th:src="@{/picture/index/section1_2_full.svg}" alt=""></div>
                                    <div class="card-content_section1_text">
                                        <a th:href="@{/subSign_big}"><img class="button_sec1" th:src="@{/picture/index/test_btn.svg}" alt=""></a>
                                    </div>
                                </div>
                                </div>
                                <div class="column_767">
                                <div class="column">
                                    <div class="radius_2_section1">
                                        <img th:src="@{/picture/index/section1_2_pm.svg}" alt=""></div>
                                    <div class="card-content_section1_text">
                                        <a th:href="@{/subSign_big}"><img class="button_sec1" th:src="@{/picture/index/test_btn.svg}" alt=""></a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>



