<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <title>수정요청</title>
    <th:block th:replace="~{include/head :: head}"></th:block>

</head>
<body id="top">
<main>
    <th:block th:replace="~{include/header :: header}"></th:block>

    <section class="page-title">
        <nav class="breadcrumb_1" aria-label="breadcrumbs">
            <ul class="breadcrumb_1_road">
                <li><a class="breadcrumb_1_road_a" th:href="@{/}"><i class="breadcrumb_1_road_home"></i>홈</a></li>
                <li><a class="breadcrumb_1_road_a" th:href="@{/modifyBoard/list}">수정요청</a></li>
            </ul>
            <p class="breadcrumb_1_road_title">수정요청</p>
        </nav>
    </section>

    <section id="pricing" class="pricing" style="padding-top: 100px; min-height: 70vh;">
        <div class="container back_white" data-aos="fade-up">
            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
                <div class="pricing-item featured" style="padding:0;">
                    <form th:action="@{/modifyBoard/modify/{id}(id=${boardDTO.id})}" method="post" enctype="multipart/form-data">
                        <div class="table-responsive">
                            <div class="input-group mb-3" hidden>
                                <select name="boardType" id="boardType">
                                    <option value="MODIFY" th:selected="${boardType == 'MODIFY'}">수정 요청</option>
                                </select>
                            </div>
                            <table class="board_detail" style="width: 100%;">
                                <tbody>
                                <tr>
                                    <th scope="row" style="width: 100px;">작성자</th>
                                    <td style="width: 35%;">[[${boardDTO.writer}]]</td>
                                    <th scope="row" style="width: 100px;">첨부파일</th>
                                    <td><input style="border: none; padding-top: 10px;" type="file" class="form-control" th:field="${boardDTO.fileId}" name="fileId"></td>
                                </tr>
                                <tr>
                                    <th scope="row">제목</th>
                                    <td colspan="3"><input style="border: none;" type="text" id="title" name="title" th:field="*{boardDTO.title}" placeholder="제목을 입력하세요" class="form-control" required></td>
                                </tr>
                                <tr>
                                    <th scope="row">내용</th>
                                    <td colspan="3">
                                        <textarea name="content" id="myTextarea" rows="8" maxlength="1000" class="form-control" th:field="*{boardDTO.content}" style="height: 200px; border: 1px solid #cbcbcb" required></textarea>
                                        <script th:inline="javascript">
                                            const Editor = toastui.Editor;
                                            const textarea = document.querySelector('#myTextarea');

                                            // 숨겨진 textarea 대신에 에디터를 생성할 div 요소를 만듭니다.
                                            const editorDiv = document.createElement('div');
                                            editorDiv.id = 'editor';
                                            textarea.parentNode.insertBefore(editorDiv, textarea);
                                            textarea.style.display = 'none'; // 숨겨진 textarea

                                            const editor = new Editor({
                                                el: editorDiv,
                                                height: '500px',
                                                initialEditType: 'markdown',
                                                previewStyle: 'vertical',
                                                initialValue: textarea.value // 초기값을 textarea의 값으로 설정
                                            });

                                            // 에디터의 내용이 변경될 때마다 textarea에 값을 업데이트합니다.
                                            editor.on('change', () => {
                                                textarea.value = editor.getMarkdown();
                                            });
                                        </script>
                                    </td>
                                </tr>


                                            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                                            <script th:inline="javascript">

                                                const errors = [[${errors}]]
                                                console.log(errors)

                                                let errorMsg = ''

                                                if(errors){
                                                    for (let i = 0; i < errors.length; i++) {
                                                        errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
                                                    }
                                                    alert(errorMsg)
                                                }

                                                //업로드 모달
                                                const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

                                                document.querySelector(".uploadFileBtn").addEventListener("click", function(e){

                                                    e.stopPropagation()
                                                    e.preventDefault()
                                                    uploadModal.show()

                                                }, false)


                                                document.querySelector(".uploadBtn").addEventListener("click", function(e){

                                                    const formObj = new FormData();

                                                    const fileInput = document.querySelector("input[name='files']")

                                                    console.log(fileInput.files)

                                                    const files = fileInput.files

                                                    for (let i = 0; i < files.length; i++) {
                                                        formObj.append("files", files[i]);
                                                    }


                                                    uploadToServer(formObj).then(result => {
                                                        console.log(result)
                                                        //console.log(result)
                                                        for (const uploadResult of result) {
                                                            showUploadFile(uploadResult)
                                                        }
                                                        uploadModal.hide()
                                                    }).catch(e => {
                                                        uploadModal.hide()
                                                    })

                                                },false)

                                                const uploadResult = document.querySelector(".uploadResult")

                                                function showUploadFile({uuid, fileName, link}){

                                                    const str =`<div class="card col-4">
            <div class="card-header d-flex justify-content-center">
                ${fileName}
                <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)" >X</button>
            </div>
            <div class="card-body">
                 <img src="/view/${link}" data-src="${uuid+"_"+fileName}" >
            </div>
        </div><!-- card -->`

                                                    uploadResult.innerHTML += str
                                                }


                                                function removeFile(uuid,fileName, obj){

                                                    console.log(uuid)
                                                    console.log(fileName)

                                                    console.log(obj)

                                                    const targetDiv = obj.closest(".card")

                                                    removeFileToServer(uuid, fileName).then(data => {
                                                        targetDiv.remove()
                                                    })
                                                }

                                                document.querySelector(".submitBtn").addEventListener("click", function(e){

                                                    e.preventDefault()
                                                    e.stopPropagation()

                                                    const target = document.querySelector(".uploadHidden")

                                                    const uploadFiles = uploadResult.querySelectorAll("img")

                                                    let str = ''

                                                    for (let i = 0; i < uploadFiles.length ; i++) {
                                                        const uploadFile = uploadFiles[i]
                                                        const imgLink = uploadFile.getAttribute("data-src")

                                                        str += `<input type='hidden' name='fileNames' value="${imgLink}">`
                                                    }

                                                    target.innerHTML = str;

                                                    const formObj = document.querySelector("form");

                                                    formObj.submit();
                                                    formObj.reset();

                                                }, false)


                                            </script>
                                        </table>
                                    </div>
                                <div class="btn_group">
                                    <input type="submit" value="수정하기" class="btn btn-primary" />
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:replace="~{include/footer :: footer}"></th:block>

</body>
</html>