<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>공지사항</title>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <th:block th:replace="~{include/head :: head}"></th:block>

</head>
<body>
<th:block th:replace="~{include/header :: header}"></th:block>

<main>
    <section class="page-title">
        <nav class="breadcrumb_1" aria-label="breadcrumbs">
            <ul class="breadcrumb_1_road">
                <li><a class="breadcrumb_1_road_a" th:href="@{/}"><i class="breadcrumb_1_road_home"></i>홈</a></li>
                <li><a class="breadcrumb_1_road_a" th:href="@{/modifyBoard/list}">수정요청</a></li>
            </ul>
            <p class="breadcrumb_1_road_title">수정요청</p>
        </nav>
    </section>

<div class="row mt-3">
    <form th:action="@{/modifyBoard/list}" method="get" class="col-md-8 offset-md-2">
    </form>
</div>

<div class="row mt-3" style="width: 50%; margin: 0 auto; padding-top: 100px; min-height: 70vh;" >
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <table class="table1 is-centered is-fullwidth" id="myTable1" >
                    <thead>
                    <tr>
                        <th class="item1" scope="col" style="text-align: center">번호</th>
                        <th class="item2" scope="col" style="text-align: center">제목</th>
                        <th class="item3" scope="col" style="text-align: center">작성자</th>
                        <th class="item4" scope="col" style="text-align: center">게시일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board, num : ${boardList}" style="text-align: center;">
                        <td th:text="${num.count}"></td>
                        <td style="justify-content: center"><a th:href="|@{/modifyBoard/read(id=${board.id})}|" class="text-decoration-none">[[${board.title}]]</a></td>
                        <td th:text="${board.writer}"></td>
                        <td th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd')}"></td>
                    </tr>
                    </tbody>
                </table>
                <script th:inline="javascript">
                    $(document).ready( function () {
                        $('#myTable1').DataTable({
                        });
                    });
                </script>
            </div>
        </div>
        <div class="btn-group mt-3 button_modify">
            <button type="button" class="button is-block" onclick="location.href='/modifyBoard/register'" >작성하기</button>
        </div>
    </div>
</div>


<!-- ======= Footer ======= -->
<th:block th:replace="~{include/footer :: footer}"></th:block>
<!-- End Footer -->
</main>
</body>
</html>