<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <title>수정 요청 게시판</title>
    <th:block th:replace="~{include/head :: head}"></th:block>

</head>
<body id="top">
<main>
    <th:block th:replace="include/header :: header"></th:block>

    <section class="page-title">
        <nav class="breadcrumb_1" aria-label="breadcrumbs">
            <ul class="breadcrumb_1_road">
                <li><a class="breadcrumb_1_road_a" th:href="@{/}"><i class="breadcrumb_1_road_home"></i>홈</a></li>
                <li><a class="breadcrumb_1_road_a" th:href="@{/modifyBoard/list}">수정요청</a></li>
            </ul>
            <p class="breadcrumb_1_road_title">수정요청</p>
        </nav>
    </section>

    <div class="container back_white" style="width: 50%; margin: 0 auto; padding-top: 100px; min-height: 55vh;">
        <table class="board_detail">
            <colgroup>
                <col width="15%"/>
                <col width="35%"/>
                <col width="15%"/>
                <col width="35%"/>
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">글 번호</th>
                <td colspan="3" th:text="${boardList.id}"></td>
            </tr>
            <tr>
                <th scope="row">작성자</th>
                <td th:text="${name}"></td>
                <th scope="row">작성일</th>
                <td th:text="${#temporals.format(boardList.regDate, 'yyyy-MM-dd')}"></td>
            </tr>
            <tr>
                <th scope="row">제목</th>
                <td th:text="${boardList.title}"></td>
                <th scope="row">첨부파일</th>
                <td><a th:href="@{'/download/' + ${boardList.fileId}}">[[${fileList.originFileName}]]</a></td>
            </tr>
            <tr>
                <th scope="row" style="height: 200px;">내용</th>
                    <td style="height: 200px; padding-bottom: 200px;">[[${boardList.content}]]</td>
            </tbody>
        </table>
        <div class="btn-group mt-3" style="padding-top: 50px; text-align: right;">
            <a class="button" th:href="@{/modifyBoard/list}" style="color: #fff; margin-top: 0px;">목록</a>
            <a class="button" th:href="@{/modifyBoard/remove(id=${boardList.id})}">삭제</a>
            <a class="button" th:href="@{/modifyBoard/modify(id=${boardList.id})}">수정</a>
        </div>

    <script th:inline="javascript">
        const errors = [[${errors}]]
        console.log(errors)
        let errorMsg = ''
        if(errors){
            for (let i = 0; i < errors.length; i++) {
                errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
            }
            alert(errorMsg)
        }

    </script>
</main>

<th:block th:replace="include/footer :: footer"></th:block>

</body>
</html>