<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <th:block th:fragment="footer">
      <th:block th:replace="~{main/sign/sign :: sign}"></th:block>
      <a href="#top" class="gotop" id="gotop">▲</a>

<div class="bottom_banner">
        <section class="container ">
          <div class="image_content">
            <picture>
              <source srcset="../../../static/images/picture/common2/common2_mobile/bottom_banner.png" media="(max-width: 450px)">
              <img th:src="@{/picture/common2/bottom_banner1.png}" alt="">
            </picture>
            <picture>
              <source srcset="../../../static/images/picture/common2/common2_mobile/bottom_banner.png" media="(max-width: 450px)">
              <img th:src="@{/picture/common2/bottom_banner2.png}" alt="" id="ban_btn">
            </picture>
          </div>

<!--          <div class="bottom_banner_wrap red">-->
<!--            <div style="width: 100%">-->
<!--            </div>-->
<!--            <div class="bottom_banner_btn blue">-->
<!--              <img th:src="@{/picture/common2/button.png}" alt="" class="bottom_btn red" id="ban_btn">-->
<!--            </div>-->
<!--          </div>-->
        </section>
</div>
      <footer class="ft" id="ft">
        <section class="container">
        <div class="ft_wrap">
          <div class="ft_wrap_text">
            <p class="copyright ">
              <span>(주)천재교육 &nbsp;|&nbsp; 대표: 강희철, 최정민</span>
            </p>
            <p class="copyright ">
              <span>사업자등록번호: 119-81-19350 &nbsp;|&nbsp; 서울특별시 디지털로 9길 23 마리오아울렛2관 11층 천재IT교육센터</span>
            </p>
            <p class="copyright">
              <span>접수 문의 · 사이트 이용 문의 : 02-3282-8589 &nbsp;|&nbsp;  이메일 : genia@chunjae.co.kr</span>
            </p>
            <br/>
            <p class="cp">
              COPYRIGHT 2023 Chunjae EDUCATION INC. ALL RIGHTS RESERVED.
            </p>
          </div>
          <div class="cp_img_wrap">
            <a href="https://www.chunjae.co.kr/" class="cp_img"><img class="ft_logo" th:src="@{/picture/common/chunjaelogo.png}" alt="천재교육 logo"></a>
            <a href="https://chunjaetext.co.kr/" class="cp_img"><img class="ft_logo" th:src="@{/picture/common/chunjaebooklogo.png}" alt="천재교과서 logo"></a>
            <a href="https://www.moel.go.kr/" class="cp_img"><img class="ft_logo" th:src="@{/picture/common/worksenterlogo.png}" alt="고용노동부 logo"></a>
          </div>
        </div>
        </section>
      </footer>
      <script th:inline="javascript">
        (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

        ChannelIO('boot', {
          "pluginKey": "ebc8aaee-afda-484d-a633-5d8a0dff7fb3"
        });
      </script>
    </th:block>
  </body>
</html>
