<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <th:block th:fragment="footer">
      <footer class="ft" id="ft">
        <div class="ft_wrap">
          <script>
            function loc() {
              var url = document.getElementById("sel").value;
              //location.href = url;  //현재 창에
              if (url != "") {
                var win = window.open(url); //새창에
              }
            }
          </script>
        </div>
        <div class="ft_wrap2">
          <p class="copyright">
            <span>(주)천재교육</span>
            <span>서울시 금천구 가산로9길 54</span>
            <span>대표자 강희철</span>
            <span>사업자등록번호 </span>
            <span>통신판매신고번호 </span>
            <span class="end">부가통신사업신고 </span>
          </p>
          <%--
          <p class="locate">
            <select name="sel" id="sel" onchange="loc()">
              <option value="">FAMILY LINK</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </p>
          <p class="cp">
            COPYRIGHT 2023 Chunjae EDUCATION INC. ALL RIGHTS RESERVED.
          </p>
        </div>

        <a href="#navigation" class="gotop" id="gotop">▲</a>
      </footer>
    </th:block>
  </body>
</html>
