<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <body>
    <th:block th:fragment="header">
      <nav id="navbar" class="navbar main-nav box_shadow_in">
        <div class="container">
          <div class="navbar-brand ml-0">
            <a class="navbar-item" href="index.html">
              <h2 class="has-text-black">고용노동부 마크</h2>
            </a>
            <button
              role="button"
              class="navbar-burger burger"
              data-hidden="true"
              data-target="navigation"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </button>
          </div>

          <div class="navbar-menu mr-0" id="navigation">
            <ul class="navbar-end">
              <li class="navbar-item">
                <a class="navbar-link is-arrowless" th:href="@{/}">홈</a>
              </li>
              <li class="navbar-item">
                <a class="navbar-link is-arrowless" th:href="@{/subSign}"
                  >교육신청</a
                >
              </li>
              <li class="navbar-item">
                <a class="navbar-link is-arrowless" th:href="@{/fullStack}"
                  >AI,데이터 과정</a
                >
              </li>

              <li class="navbar-item">
                <a class="navbar-link is-arrowless" th:href="@{/fullStack}"
                  >풀스택 과정</a
                >
              </li>

              <li class="navbar-item">
                <a class="navbar-link is-arrowless" th:href="@{/fullStack}"
                  >PM 과정</a
                >
              </li>
              <li class="navbar-item">
                <a class="navbar-link is-arrowless" href="#">천재IT Blog</a>
              </li>
            </ul>
          </div>
          <th:block sec:authorize="isAnonymous()">
            <li class="navbar-item">
              <a class="nav-link text-white add-button" th:href="@{/member/join}">회원가입</a>
            </li>
            <li class="navbar-item">
              <a th:href="@{/member/login}" class="nav-link text-white add-button">로그인</a>
            </li>
          </th:block>
          <th:block sec:authorize="isAuthenticated()">

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Account
              </a>
              <div class="navbar-dropdown">
                <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                  <a class="navbar-item" th:href="@{/modifyBoard/list}">
                    수정요청
                  </a>
                </th:block>
                <th:block sec:authorize="hasAnyAuthority('MANAGER', 'ADMIN', 'STUDENT')">
                  <a class="navbar-item" th:href="@{/notice/list}">
                    공지사항
                  </a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                  <form th:action="@{/logout}" method="post">
                    <a href="#" onclick="this.closest('form').submit();" class="navbar-item">로그아웃</a>
                  </form>
                </th:block>
              </div>
            </div>
          </th:block>
          </ul>
        </div>
        </div>
      </nav>
    </th:block>
  </body>
</html>
