<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head style="min-height: 100vh;">
    <meta charset="utf-8">
    <meta
            content="minimum-scale=1.0, width=device-width, maximum-scale=1, ser-scalable=no"
            name="viewport"
    />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>회원가입</title>
    <th:block th:replace="~{include/head :: head}"></th:block>
</head>

<body>

<form th:action="@{/member/addInfoPro}" method="post" th:object="${memberJoinDTO}" th:class="form-horizontal" id="joinForm">
    <div class="member">
        <div class="container join1">
            <h1 class="join1_h1">필수 회원 정보</h1>
        </div>
        <div class="field">
            <b>이메일</b>
            <h1 th:text="${memberJoinDTO.email}"></h1>
            <input type="hidden" name="email" class="form-control" th:value="${memberJoinDTO.email}" readonly>
        </div>

        <div class="field">
            <b>이름</b>
            <input type="text" name="name" id="name" placeholder="이름" class="form-control" minlength="2" maxlength="4" required />
        </div>
        <div class="field tel-number">
            <b>휴대전화</b>
            <select>
                <option value="">대한민국 +82</option>
            </select>
            <input type="tel" name="tel" class="form-control" placeholder="-없이 숫자만 입력해주세요.">
        </div>
        <div class="join_btn">
            <button type="submit" class="is_btn" >회원정보 수정하기</button>
        </div>
    </div>
</form>

<script th:inline="javascript">
    $(document).ready(function() {
        function joinCheck(f) {
            if (f.pw.value != f.pw2.value) {
                alert("비밀번호와 비밀번호 확인이 서로 다릅니다.");
                f.pw.focus();
                return false;
            }
            if (f.pw.value.length(8 - 16)) {
                alert("비밀번호는 최소 8자리에서 최대 16자리까지 숫자, 영문, 특수문자 각 1개 이상 포함해주세요.");
                f.pw.focus();
                return false;
            }
            if (f.idCk.value != "yes") {
                alert("아이디 중복 체크를 하지 않으셨습니다.");
                $("#id").focus();
                return false;
            }
            let value = $("#pw").val();

            let pattern = "^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&.,])[A-Za-z\d$@$!%*#?&]{8,16}$"
            if (!pattern.test(value)) {
                alert("숫자, 영문, 특수문자 각 1개 이상 포함입니다.");
                $("#pw").focus();
                return false;
            }
        }
    });
</script>


</body>
</html>