<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>사전 신청 현황</title>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <th:block th:replace="~{include/head :: head}"></th:block>

</head>
<body>


<th:block th:replace="~{include/header :: header}"></th:block>

<section class="page-title">
    <nav class="breadcrumb_1" aria-label="breadcrumbs">
        <ul class="breadcrumb_1_road">
            <li><a class="breadcrumb_1_road_a" th:href="@{/}"><i class="breadcrumb_1_road_home" target='_blank'></i>홈</a></li>
            <li><a class="breadcrumb_1_road_a" th:href="@{/apply/list}" target='_blank'>사전 신청 현황</a></li>
        </ul>
        <p class="breadcrumb_1_road_title">사전 신청 현황</p>
    </nav>
</section>
<div class="item_hole" >
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <table class="table1 is-centered is-fullwidth" id="myTable1" >
                    <thead>
                    <tr>
                        <th class="item1" scope="col" style="text-align: center">번호</th>
                        <th class="item2" scope="col" style="text-align: center">과정명</th>
                        <th class="item3" scope="col" style="text-align: center">이름</th>
                        <th class="item4" scope="col" style="text-align: center">전화번호</th>
                        <th class="item5" scope="col" style="text-align: center">이메일</th>
                        <th class="item6" scope="col" style="text-align: center">신청일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="applyDTO, num : ${applyDTOList}">
                        <td class="item_td" th:text="${num.count}"></td>
                        <td class="item_td" th:text="${applyDTO.course}">
                            <span th:if="${applyDTO.course eq 'FULLSTACK'}">풀스택</span>
                            <span th:if="${applyDTO.course eq 'BIGDATA'}">빅데이터</span>
                            <span th:if="${applyDTO.course eq 'PM'}">PM</span>
                        </td>
                        <td class="item_td" th:text="${applyDTO.name}"></td>
                        <td class="item_td" th:text="${applyDTO.tel}"></td>
                        <td class="item_td" th:text="${applyDTO.email}"></td>
                        <td class="item_td" th:text="${#temporals.format(applyDTO.regDate, 'yyyy-MM-dd')}"></td>
                    </tr>
                    </tbody>
                </table>
                <script th:inline="javascript">
                    $(document).ready( function () {
                        $('#myTable1').DataTable({
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>


<!-- ======= Footer ======= -->
<th:block th:replace="~{include/footer :: footer}"></th:block>
<!-- End Footer -->
</body>
</html>