<!Doctype html>

<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8" />
  <meta
          content="minimum-scale=1.0, width=device-width, maximum-scale=1, ser-scalable=no"
          name="viewport"
  />
  <title>bigdata 랜딩페이지</title>
  <th:block th:replace="include/head :: head"></th:block>

</head>
  <body>
  <th:block th:replace="include/header :: header"></th:block>
    <div class="main back_black">
        <!-- 상단배너 start -->
          <section class="container" id="top">
            <div class="image_content flex_column">
              <div class="flex direct_column">
                <div class="flex_column">
                <picture>
                  <source srcset="../../static/images/picture/bigdata/bigdata_mobile/banner_big1.svg" media="(max-width: 450px)">
                  <img th:src="@{/picture/bigdata/banner_big1.png}" alt="">
                </picture>
                  <div class="flex">
                    <a th:href="@{/subSign_big}">
                      <picture>
                        <source srcset="../../static/images/picture/common2/common2_mobile/banner_btn.svg" media="(max-width: 450px)">
                        <img th:src="@{/picture/common2/banner_btn.png}" alt="" class="button">
                      </picture>
                    </a>
                    <picture>
                      <source srcset="../../static/images/picture/common2/common2_mobile/banner_btn2.png" media="(max-width: 450px)">
                      <img th:src="@{/picture/common2/banner_btn2.png}" alt="" >
                    </picture>
                  </div>
                </div>
                <div class="">
                  <picture>
                    <source srcset="../../static/images/picture/bigdata/bigdata_mobile/banner_big3.svg" media="(max-width: 450px)">
                    <img th:src="@{/picture/bigdata/banner_big2.png}" alt="">
                  </picture>
                </div>
              </div>
              <picture>
                <source srcset="/" media="(max-width: 450px)">
                <img th:src="@{/picture/common2/banner_text.png}" alt="">
              </picture>
              <img th:src="@{/picture/common2/banner_img.png}" alt="" class="image_banner">
            </div>
        </section>
        <!-- 상단배너 end -->

        <!-- REVIEW start -->
      <section class="container ">
        <div class="image_content review_content">
          <picture>
            <source srcset="../../static/images/picture/bigdata/bigdata_mobile/review_big1.svg" media="(max-width: 450px)">
            <img th:src="@{/picture/bigdata/review_big.png}" alt="">
          </picture>
          <div class="review_text">
            <a href="https://blog.naver.com/chunjae2023" target='_blank'>
              <picture>
                <source srcset="../../static/images/picture/common2/common2_mobile/review_btn1.svg" media="(max-width: 450px)">
                  <img th:src="@{/picture/common2/review_btn.png}" alt="" class="button" >
             </picture>
            </a>
            <picture>
              <source srcset="../../static/images/picture/common2/common2_mobile/review_btn2.png" media="(max-width: 450px)">
            <img th:src="@{/picture/common2/review_btn2.png}" alt="">
            </picture>
          </div>
        </div>

        <div class="review_image_wrap">
          <div class="width"></div>
          <div class="slide slide_review_wrap" >
            <div class="slide_review">
              <img th:src="@{/picture/bigdata/bigex_1.png}" alt="bigdata후기_1" class="border10">
            </div>
            <div class="slide_review">
              <img th:src="@{/picture/bigdata/bigex_2.png}" alt="bigdata후기_2" class="border10">
            </div>
            <div class="slide_review">
              <img th:src="@{/picture/bigdata/bigex_3.png}" alt="bigdata후기_3" class="border10">
            </div>
            <div class="slide_review">
              <img th:src="@{/picture/bigdata/bigex_4.png}" alt="bigdata후기_4" class="border10">
            </div>
          </div>
        </div>
        <div class="review_image_mobile">
          <div class="slide slide_review_mobile">
            <div class="slide_review">
              <img th:src="@{/picture/bigdata/bigex_1.png}" alt="bigdata후기_1" class="border10">
            </div>
            <div class="slide_review">
              <img th:src="@{/picture/bigdata/bigex_2.png}" alt="bigdata후기_2" class="border10">
            </div>
            <div class="slide_review">
              <img th:src="@{/picture/bigdata/bigex_3.png}" alt="bigdata후기_3" class="border10">
            </div>
            <div class="slide_review">
              <img th:src="@{/picture/bigdata/bigex_4.png}" alt="bigdata후기_4" class="border10">
            </div>
          </div>
        </div>
      </section>
        <!-- REVIEW end -->

        <!-- 모집 안내 start -->
      <div class="image_absolute_wrap"><img th:src="@{/picture/common2/recru_img.png}" alt="recru_img" class="recru_img"/></div>
      <section class="container recru_mt5">
        <div class="image_content">
          <picture>
            <source srcset="../../static/images/picture/bigdata/bigdata_mobile/recru_big.svg" media="(max-width: 450px)">
            <img th:src="@{/picture/bigdata/recru_big.png}" alt="">
          </picture>
        </div>
      </section>
        <!-- 모집 안내 end -->

        <!-- BENEFITS start  -->
      <section class="container ">
        <div class="image_content">
          <picture>
            <source srcset="../../static/images/picture/bigdata/bigdata_mobile/benefit_big.svg" media="(max-width: 450px)">
            <img th:src="@{/picture/bigdata/benefit_big.svg}" alt="">
          </picture>
        </div>
      </section>
        <!-- BENEFITS end  -->

        <!-- 커리큘럼 start -->
      <section class="container ">
        <div class="image_content">
          <picture>
            <source srcset="../../static/images/picture/bigdata/bigdata_mobile/curri_big.svg" media="(max-width: 450px)">
            <img th:src="@{/picture/bigdata/curri_big.png}" alt="">
          </picture>
        </div>
      </section>
        <!-- 커리큘럼 end -->

        <!-- 포트폴리오 start -->
      <section class="container ">
        <div class="image_content">
          <picture>
            <source srcset="../../static/images/picture/bigdata/bigdata_mobile/port_big.svg" media="(max-width: 450px)">
            <img th:src="@{/picture/bigdata/port_big.png}" alt="">
          </picture>
        </div>
      </section>
        <!-- 포트폴리오 end -->

        <th:block th:replace="sub/sub_inclulde/mentoring :: mentoring"></th:block>

  <!-- 취업 분야는 start -->
      <section class="container big_mg">
        <div class="image_content">
          <picture>
            <source srcset="../../static/images/picture/bigdata/bigdata_mobile/job.svg" media="(max-width: 450px)">
            <img th:src="@{/picture/bigdata/job.png}" alt="">
          </picture>
        </div>
      </section>
<!-- 취업 분야는 end -->

<!-- 육각형 start -->
      <div class="back_darkgray ud_m big_mg">
        <section class="container_side">
          <div class="image_content">
            <picture>
              <source srcset="../../static/images/picture/bigdata/bigdata_mobile/six.svg" media="(max-width: 450px)">
              <img th:src="@{/picture/bigdata/six.png}" alt="">
            </picture>
          </div>
        </section>
        <div class="image_absolute_wrap2"><img th:src="@{/picture/bigdata/six_img.png}" alt="six_img" class="six_img"/></div>
      </div>
<!-- 육각형 end -->

      <!-- 선발절차 start -->
      <section class="container ud_m">
        <div class="image_content flex_column">
          <picture>
            <source srcset="/static/images/picture/common2/common2_mobile/procedure1.svg" media="(max-width: 450px)">
            <img th:src="@{/picture/common2/procedure_title.png}" alt="" >
          </picture>

          <div class="procedure">
            <a th:href="@{/subSign_big}">
              <picture>
                <img th:src="@{/picture/common2/procedure1.png}" alt="" class="img_hover">
              </picture>
            </a>
            <picture>
              <img th:src="@{/picture/common2/procedure2.png}" alt="">
            </picture>
            <a href="https://www.hrd.go.kr/">
              <picture>
                <img th:src="@{/picture/common2/procedure3.png}" alt="" class="img_hover">
              </picture>
            </a>
          </div>

          <div class="procedure_mobile">
            <div class="flex">
              <a th:href="@{/subSign_big}">
                <picture>
                  <img th:src="@{/picture/common2/common2_mobile/procedure2.svg}" alt="" class="img_hover">
                </picture>
              </a>
              <picture>
                <img th:src="@{/picture/common2/common2_mobile/procedure3.svg}" alt="">
              </picture>
            </div>
            <div class="flex">
              <picture>
                <img th:src="@{/picture/common2/common2_mobile/procedure4.svg}" alt="">
              </picture>
              <a href="https://www.hrd.go.kr/">
                <picture>
                  <img th:src="@{/picture/common2/common2_mobile/procedure5.svg}" alt="" class="img_hover">
                </picture>
              </a>
            </div>
            <picture>
              <img th:src="@{/picture/common2/common2_mobile/procedure6.svg}" alt="">
            </picture>
          </div>

        </div>
      </section>
      <!-- 선발절차 end -->

        <th:block th:replace="sub/sub_inclulde/eduplace :: eduplace"></th:block>
        <th:block th:replace="sub/sub_inclulde/digital_tran :: digital_tran"></th:block>
        <th:block th:replace="sub/sub_inclulde/map :: map"></th:block>

<!--  <script th:src="@{/static/js/slide.js}"></script>-->
    <th:block th:replace="include/footer :: footer"></th:block>
    </div>
  </body>
</html>
