<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta
            content="minimum-scale=1.0, width=device-width, maximum-scale=1, ser-scalable=no"
            name="viewport"
    />
    <title>fullstack 랜딩페이지</title>
    <th:block th:replace="include/head :: head"></th:block>
  </head>
  <body>
    <th:block th:replace="include/header :: header"></th:block>
    <div class="main back_black">

      <!-- 상단배너 start -->
        <section class="banner fullbanner" id="banner">
          <section class="container">
          <div class="banner_box">
            <h4 class="title_white_sub font_white">2024 커리큘럼 전면 리뉴얼!</h4>
            <h1 class="banner_title title_white_big">
              Learn by Doing Project <br />
              에듀테크 Java 풀스택 개발자 과정 6기 모집
            </h1>
            <div class="banner_btn">
              <a th:href="@{subSign}" class="button">접수하기 ></a>
            </div>
          </div>
        </section>
      </section>
        <!-- 상단배너 end -->

      <!-- 모집 카드 start -->
        <section class="container container_bottom">
          <div class="recru_content">
            <div class="recru_wrap">
              <article class="recru_card">
                <p class="titleCard font_white">모집기간</p>
                <ul class="subtitleCard font_white li_disc">
                <li><b>모집</b><br>2023.03.13 ~ 2024.04.19</li>
                  <br>
                  <br>
                  <li><b>합격자 발표</b><br> 인터뷰 이후 일주일 이내</li>
                </ul>
              </article>
              <article class="recru_card">
                <p class="titleCard font_white">교육기간</p>
                <ul class="subtitleCard font_white li_disc">
                  <li><b>교육</b><br>2023.04.24 ~ 2024.10.28</li>
                </ul>
              </article>
            </div>
            <div class="recru_wrap">
              <article class="recru_card">
                <p class="titleCard font_white">참여대상</p>
                <ul class="subtitleCard font_white li_disc">
                  <li>국민 내일배움카드 <br>보유 혹은 발급 가능한 자</li>
                  <br>
                  <li>K-Digital Traning <br>수강 이력이 없는 자</li>
                  <br>
                  <li>정보통신 및 이공계,<br>교육 관련 전공자 우대</li>
                </ul>
              </article>
              <article class="recru_card">
                <p class="titleCard font_white">지원방법</p>
                <ul class="subtitleCard font_white li_disc">
                  <li><b>서류 심사</b><br>신청폼 작성</li>
                  <br>
                  <li><b>면접 심사</b><br>AI 비대면 인터뷰</li>
                  <br>
                  <li><b>합격자 발표</b><br>문자 개별 통보</li>
                </ul>
              </article>
            </div>
          </div>
        </section>
        <!-- 모집 카드 end -->

        <!-- REVIEW start -->
        <section class="container container_bottom">
          <div class="title-body flex_between">
            <div class="">
              <h4 class="small_title">REVIEW</h4>
              <h1 class="title_white_big">
                6개월 전 취준 고민을 했던<br />
                선배 수료생의 생생한 후기로<br />
                Java 풀스택 과정 미리보기
              </h1>
              <h4 class="title_white_sub">
                1기, 2기 수료생 <b>90% 이상 인턴 전환</b><br />
                <b>후기가 증명하는</b> 천재IT교육센터 풀스택 개발자 과정
              </h4>
              <div class="banner_btn">
                <a th:href="@{subSign}" class="button">수강후기 보러가기 ></a>
              </div>
            </div>
            <div class="slide slide_wrap">
              <div class="slide_item">
                <img
                  th:src="@{/picture/fullstack/fullex_1.png}"
                  alt="fullstack후기_1"
                />
              </div>
              <div class="slide_item">
                <img
                  th:src="@{/picture/fullstack/fullex_2.png}"
                  alt="fullstack후기_2"
                />
              </div>
              <div class="slide_item">
                <img
                  th:src="@{/picture/fullstack/fullex_3.png}"
                  alt="fullstack후기_3"
                />
              </div>
              <div class="slide_item">
                <img
                  th:src="@{/picture/fullstack/fullex_4.png}"
                  alt="fullstack후기_4"
                />
              </div>
              <div class="slide_prev_button slide_button">◀</div>
              <div class="slide_next_button slide_button">▶</div>
              <ul class="slide_pagination"></ul>
            </div>
          </div>
        </section>
        <!-- REVIEW end -->

        <!-- 모집 안내 start -->
      <div class="image_absolute_wrap"><img th:src="@{/ico/ico-orange arrow.png}" alt="image crown" class="image_absolute_1"/></div>
        <section class="container container_bottom">
          <div class="title-body text_center">
            <h1 class="title_white_big">모집 안내</h1>
            <h4 class="title_white_sub">모집개요</h4>
          </div>
          <div class="cardFull">
            <div class="card_wrap">
              <div class="card_box">
                <div class="iconBox">
                  <div class="iconCard">
                    <p class="iconP"><img alt="ico-recruit" th:src="@{/ico/ico-recruit.png}"></p>
                    <p class="font_white">모집분야</p>
                  </div>
                </div>
                <div class="in_box">
                  <ul>
                    <li>Java 풀스택 개발자 과정</li>
                  </ul>
                </div>
              </div>
              <div class="card_box">
                <div class="iconBox">
                  <div class="iconCard">
                    <p class="iconP"><img alt="ico-recruit2" th:src="@{/ico/ico-recruit2.png}"></p>
                    <p class="font_white">교육기간</p>
                  </div>
                </div>
                <div class="in_box">
                  <ul>
                    <li>2024.04.23 ~ 2024.10.29
                      <br />
                      09:00 ~ 18:00 (총 960시간)</li>
                  </ul>
                </div>
              </div>
              <div class="card_box">
                <div class="iconBox">
                  <div class="iconCard">
                    <p class="iconP"><img alt="ico-recruit3" th:src="@{/ico/ico-recruit3.png}"></p>
                    <p class="font_white">교육형태 및 장소</p>
                  </div>
                </div>
                <div class="in_box">
                  <ul>
                    <li>오프라인 교육<br>서울 금천구 디지털로9길 23<br>마리오아울렛2관 11층 천재IT교육센터</li>
                  </ul>
                </div>
              </div>
              <div class="card_box">
                <div class="iconBox">
                  <div class="iconCard">
                    <p class="iconP"><img alt="ico-recruit7" th:src="@{/ico/ico-recruit7.png}"></p>
                    <p class="font_white">우대사항</p>
                  </div>
                </div>
                <div class="in_box">
                  <ul>
                    <li>프로그래밍 언어 기본 지식 보유자</li>
                    <li>
                      정보통신 및 전산학과 졸업, 졸업예정자<br />
                      또는 교직이수자 우대
                    </li>
                    <li>
                      이공계, 수학, 통계학, 문헌정보, 경영정보, <br />
                      교육 관련 전공자 우대
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card_wrap">
              <div class="card_box">
                <div class="iconBox">
                  <div class="iconCard">
                    <p class="iconP"><img alt="ico-recruit4" th:src="@{/ico/ico-recruit4.png}"></p>
                    <p class="font_white">모집인원</p>
                  </div>
                </div>
                <div class="in_box">
                  <ul>
                    <li>각 과정별 20명</li>
                  </ul>
                </div>
              </div>
              <div class="card_box">
                <div class="iconBox">
                  <div class="iconCard">
                    <p class="iconP"><img alt="ico-recruit5" th:src="@{/ico/ico-recruit5.png}"></p>
                    <p class="font_white">모집기간</p>
                  </div>
                </div>
                <div class="in_box">
                  <ul>
                    <li>2024.03.13 ~ 2024.04.19</li>
                  </ul>
                </div>
              </div>
              <div class="card_box">
                <div class="iconBox">
                  <div class="iconCard">
                    <p class="iconP"><img alt="ico-recruit6" th:src="@{/ico/ico-recruit6.png}"></p>
                    <p class="font_white">지원자격</p>
                  </div>
                </div>
                <div class="in_box">
                  <ul>
                    <li>국민내일배움카드 보유 혹은 발급 가능한 자</li>
                    <li>K-Digital Traning 수강 이력이 없는 자</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- 모집 안내 end -->

      <!-- BENEFITS start  -->
        <section class="container container_bottom">
          <div class="title-body">
            <img th:src="@{/picture/fullstack/img-underline.png}" alt="img-underline" class="image_absolute_2"/>
            <h4 class="small_title">BENEFITS</h4>
            <h1 class="title_white_big">
              개발자 준비가 처음이세요?<img
                    th:src="@{/ico/benefit_0.png}"
                    alt="ico benefit_0"
            />
            </h1>
            <h4 class="title_white_sub">
              떠먹여주는 <b>갓생취업루틴!</b><br />
              교육에만 몰입하세요!
            </h4>
          </div>
          <div class="benefit_wrap">
            <article class="notification">
              <div class="benefit_content">
                <div class="">
                  <h1 class="benefit_title">0원</h1>
                  <br />
                  <p class="benefit_sub">
                    전액 국비지원으로 교육비 0원, <br />
                    PC 및 교재 지원
                  </p>
                </div>
                <div class="index_figure">
                  <img th:src="@{/ico/benefit_1.png}" alt="ico benefit_1" />
                </div>
              </div>
            </article>
            <article class="notification">
              <div class="benefit_content">
                <div class="">
                  <h1 class="benefit_title">2023년 인턴 111명</h1>
                  <br />
                  <p class="benefit_sub">
                    내부 평가 결과에 따른
                    <br />
                    인턴 및 직원 전환 기회 제공
                  </p>
                </div>
                <div class="index_figure">
                  <img th:src="@{/ico/benefit_2.png}" alt="ico benefit_2" />
                </div>
              </div>
            </article>

            <article class="notification">
              <div class="benefit_content">
                <div class="">
                  <h1 class="benefit_title">시니어급 현업 실무진의 밀착 멘토링</h1>
                  <br />
                  <p class="benefit_sub">
                    그룹내 시니어급 현업 실무진과 종합 프로젝트
                    <br />
                    멘토링 진행
                  </p>
                </div>
                <div class="index_figure">
                  <img th:src="@{/ico/benefit_3.png}" alt="ico benefit_3" />
                </div>
              </div>
            </article>

            <article class="notification">
              <div class="benefit_content">
                <div class="">
                  <h1 class="benefit_title">현직자의 현장강의</h1>
                  <br />
                  <p class="benefit_sub">
                    현직 실무자의 현장강의로
                    <br />
                    실무에 필요한 내용만 전략적으로 학습
                  </p>
                </div>
                <div class="index_figure">
                  <img th:src="@{/ico/benefit_4.png}" alt="ico benefit_4" />
                </div>
              </div>
            </article>

            <article class="notification">
              <div class="benefit_content">
                <div class="">
                  <h1 class="benefit_title">개발자 맞춤형 취업 특강</h1>
                  <br />
                  <p class="benefit_sub">
                    현업능력, 문제해결역량 향상을 위한
                    <br />
                    특강과 자소서 및 포트폴리오 특강 등
                    <br />
                    개발자 맞춤형 취업 대비 지원!
                  </p>
                </div>
                <div class="index_figure">
                  <img th:src="@{/ico/benefit_5.png}" alt="ico benefit_5" />
                </div>
              </div>
            </article>
            <article class="notification">
              <div class="benefit_content">
                <div class="">
                  <h1 class="benefit_title">실무 프로젝트 5개</h1>
                  <br />
                  <p class="benefit_sub">
                    에듀테크 서비스와 관련된 약 4개의 미니 프로젝트와
                    <br />
                    종합프로젝트로 총 5개의 프로젝트 진행!
                  </p>
                </div>
                <div class="index_figure">
                  <img th:src="@{/ico/benefit_6.png}" alt="ico benefit_6" />
                </div>
              </div>
            </article>
          </div>
        </section>
        <!-- BENEFITS end  -->

        <!-- 커리큘럼 start -->
      <div class="image_absolute_wrap"><img th:src="@{/picture/fullstack/img-star.png}" alt="img-star" class="image_absolute_3"/></div>
        <section class="container container_bottom">
          <div class="title-body text_center">
            <h4 class="small_title">CURRICULUM</h4>
            <h4 class="title_white_sub">
              천재IT교육센터의 인텐시브 러닝시스템
            </h4>
            <h1 class="title_white_big">POINT 01 커리큘럼</h1>
            <h4 class="title_white_sub">풀스택 개발자가 되기 위한 <b>6개월간의 코드 디깅!</b><br />
              교육·프로젝트·회고를 반복하는 <b>'천재'만의 러닝시스템</b>
            </h4>
          </div>
          <div class="curri_full">
              <article class="curri_full_box">
                <div class="">
                  <div class="">
                    <p class="dt_btn">1개월차</p>
                    <p class="curri_full_text">
                      <b>웹 개발 기초</b>
                    </p>
                    <ul>
                      <li class="benefit_sub_3">
                        html, css, javascript, git&github
                      </li>
                    </ul>
                  </div>
                  <div class="pm_image_wrap">
                    <img
                            th:src="@{/picture/fullstack/skill/1month_1.webp}"
                            alt="fullstack_skill_1"
                            class="pm_image"
                    />
                    <img
                            th:src="@{/picture/fullstack/skill/1month_2.webp}"
                            alt="fullstack_skill_2"
                            class="pm_image"
                    />
                    <img
                            th:src="@{/picture/fullstack/skill/1month_3.webp}"
                            alt="fullstack_skill_3"
                            class="pm_image"
                    />
                    <img
                            th:src="@{/picture/fullstack/skill/1month_4.webp}"
                            alt="fullstack_skill_4"
                            class="pm_image"
                    />
                    <img
                            th:src="@{/picture/fullstack/skill/1month_5.webp}"
                            alt="fullstack_skill_5"
                            class="pm_image"
                    />
                  </div>
                </div>
              </article>

            <article class="curri_full_box">
              <div class="">
                <div class="">
                  <p class="dt_btn">2개월차</p>
                  <p class="curri_full_text">
                    <b>웹 개발 기초</b>
                  </p>
                  <ul>
                    <li class="benefit_sub_3">
                      java, 마리아DB, AWS(RDS)
                    </li>
                  </ul>
                </div>
                <div class="pm_image_wrap">
                  <img
                          th:src="@{/picture/fullstack/skill/2month_1.webp}"
                          alt="fullstack_skill_11"
                          class="pm_image"
                  />
                  <img
                          th:src="@{/picture/fullstack/skill/2month_2.webp}"
                          alt="fullstack_skill_12"
                          class="pm_image"
                  />
                  <img
                          th:src="@{/picture/fullstack/skill/2month_3.webp}"
                          alt="fullstack_skill_13"
                          class="pm_image"
                  />
                </div>
              </div>
            </article>

              <article class="curri_full_box">
                <div class="">
                  <div class="">
                    <p class="dt_btn">3개월차</p>
                    <p class="curri_full_text">
                      <b>웹 MVC</b>
                    </p>
                    <ul>
                      <li class="benefit_sub_3">Servlet & JSP</li>
                    </ul>
                  </div>
                  <div class="pm_image_wrap">
                    <img
                            th:src="@{/picture/fullstack/skill/3month_1.webp}"
                            alt="fullstack_skill_16"
                            class="pm_image"
                    />
                  </div>
                </div>
              </article>

            <article class="curri_full_box">
              <div class="">
                <div class="">
                  <p class="dt_btn">4개월차</p>
                  <p class="curri_full_text">
                    <b>백엔드 개발</b>
                  </p>
                  <ul>
                    <li class="benefit_sub_3">
                      Spring, Junit, Mybatis
                    </li>
                  </ul>
                </div>
                <div class="pm_image_wrap">
                  <img
                          th:src="@{/picture/fullstack/skill/4month_1.webp}"
                          alt="fullstack_skill_13"
                          class="pm_image"
                  />
                  <img
                          th:src="@{/picture/fullstack/skill/4month_2.webp}"
                          alt="fullstack_skill_14"
                          class="pm_image"
                  />
                  <img
                          th:src="@{/picture/fullstack/skill/4month_3.webp}"
                          alt="fullstack_skill_15"
                          class="pm_image"
                  />
                </div>
              </div>
            </article>
              <article class="curri_full_box">
                <div class="">
                  <div class="">
                    <p class="dt_btn">5개월차</p>
                    <p class="curri_full_text">
                      <b>Springboot, 프론트엔드 개발</b>
                    </p>
                    <ul>
                      <li class="benefit_sub_3">
                        Springboot, JPA, Gradle, Thymeleaf, REACT.js
                      </li>
                    </ul>
                  </div>
                  <div class="pm_image_wrap">
                    <img
                            th:src="@{/picture/fullstack/skill/5month_1.webp}"
                            alt="fullstack_skill_6"
                            class="pm_image"
                    />
                    <img
                            th:src="@{/picture/fullstack/skill/5month_2.webp}"
                            alt="fullstack_skill_7"
                            class="pm_image"
                    />
                    <img
                            th:src="@{/picture/fullstack/skill/5month_3.webp}"
                            alt="fullstack_skill_8"
                            class="pm_image"
                    />
                    <img
                            th:src="@{/picture/fullstack/skill/5month_4.webp}"
                            alt="fullstack_skill_9"
                            class="pm_image"
                    />
                    <img
                            th:src="@{/picture/fullstack/skill/5month_5.webp}"
                            alt="fullstack_skill_10"
                            class="pm_image"
                    />
                  </div>
                </div>
              </article>

              <article class="curri_full_box">
                <div class="">
                  <div class="">
                    <p class="dt_btn">6개월차</p>
                    <p class="curri_full_text">
                      <b>종합 프로젝트</b>
                    </p>
                    <ul>
                      <li class="benefit_sub_3">
                        실무자 멘토와 현업 프로젝트 진행 & 회고
                      </li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
        </section>
      <div class="image_absolute_wrap"><img th:src="@{/picture/fullstack/img-double_underline.png}" alt="img-double underline" class="image_absolute_4"/></div>
        <!-- 커리큘럼 end -->

        <!-- 포트폴리오 start -->
        <section class="container container_bottom">
          <div class="title-body">
              <h4 class="small_title">PORTFOLIO</h4>
              <h4 class="title_white_sub">
                천재IT교육센터의 인텐시브 러닝시스템
              </h4>
              <h1 class="title_white_big">POINT 02 포트폴리오</h1>
              <h4 class="title_white_sub">
                에듀테크 서비스 미니 프로젝트 약 4개와 최종프로젝트로<br />
                <b>총 5개의 실무프로젝트</b>로 실전 코딩 근육을 키울 수 있어요!
              </h4>
          </div>
          <div class="port_box">
            <div class="port_content">
              <ul>
                <li class="talent_subtitle_4"><div class="index_figure_5">
                  <img th:src="@{/ico/ico-portfolio.png}" alt="포트폴리오 이미지" class="curri_ico"/>
                </div>포트폴리오 01
                </li>
              </ul>
              <div class="category">
                <h1 class="btn3 text_center">
                  Java 풀스택 과정 2기
                </h1>
                <ul>
                  <li><div class="index_figure_5">
                    <img th:src="@{/ico/ico-checkbox.png}" alt="체크박스 이미지" class="curri_ico"/>
                  </div>
                    영단어 학습 플랫폼 서비스, 어휘 학습 및 실력 향상을 위한 다양한 기능과 콘텐츠 제공 서비스
                  </li>
                </ul>
              </div>
              <article class="port_image">
                <img th:src="@{/picture/fullstack/project_1.gif}" alt="fullstack 포트폴리오1"/>
              </article>
            </div>

            <div class="port_content">
              <ul>
                <li class="talent_subtitle_4"><div class="index_figure_5">
                  <img th:src="@{/ico/ico-portfolio.png}" alt="포트폴리오 이미지" class="curri_ico"/>
                </div>포트폴리오 02
                </li>
              </ul>
              <div class="category">
                <h1 class="btn2 text_center">
                  Java 풀스택 과정 2기
                </h1>
                <ul>
                  <li><div class="index_figure_5">
                    <img th:src="@{/ico/ico-checkbox.png}" alt="체크박스 이미지" class="curri_ico"/>
                  </div>
                    천재교육의 IT/기술 교육 기관 학습 관리 시스템 강좌 관리와 수강생 관리 등 교육 전반체 걸친 통합 운영서비스
                  </li>
                </ul>
              </div>
              <article class="port_image">
                <img th:src="@{/picture/fullstack/project_2.gif}" alt="fullstack 포트폴리오2"/>
              </article>
            </div>
          </div>
        </section>
        <!-- 포트폴리오 end -->

        <th:block
          th:replace="sub/sub_inclulde/mentoring :: mentoring"
        ></th:block>

      <!-- 예비 개발자 start -->
      <div class="image_absolute_wrap"><img th:src="@{/picture/fullstack/img-crown.png}" alt="image crown" class="image_absolute_6"/></div>
      <section class="container_vw back_white_2">
        <div class="title-body text_center">
            <h4 class="small_title">TALENT</h4>
            <h1 class="title_big">
              천재IT교육센터가 찾는 예비 개발자는 조금 다릅니다.
            </h1>
        </div>
        <div class="talent_wrap">
          <div class="talent_wrap_2">
            <div class="talent_1">
              <div class="talent_content">
                <h3 class="talent_title font_gray">기존 인재상</h3>
                <ul>
                  <li class="talent_subtitle font_gray">
                    개발 경력 N년 이상인분
                  </li>
                  <li class="talent_subtitle font_gray">
                    소프트웨어 개발 경험이 있으신 분
                  </li>
                  <li class="talent_subtitle font_gray">
                    컴퓨터 공학 혹은 관련 전공학사 학위가 있으신 분
                  </li>
                </ul>
              </div>
            </div>

            <div class="talent_2">
              <div class="talent_content">
                <h3 class="talent_title">천재교육그룹 인재상</h3>
                <ul>
                  <li class="talent_subtitle font_main_1 font_weight_700">
                    교육의 가치와 중요성을 이해하는 분
                  </li>
                  <p class="talent_subtitle_2">
                    천재IT교육센터에서는 천재교육그룹 실무현장과 유관한
                    프로젝트를 진행해요.
                  </p>
                  <p class="talent_subtitle_2">
                    교육 서비스를 개발하기 위해서 교육의 가치와 중요성을
                    이해해요
                  </p>
                  <li class="talent_subtitle font_main_1 font_weight_700">
                    성장하기 위해 적극적인 태도로 문제를 해결하는 분
                  </li>
                  <p class="talent_subtitle_2">
                    6개월이라는 단기간동안 폭발적으로 성장하기 위해 적극정인
                    태도로 문제를 <br />해결하는 태도가 필요해요.
                  </p>
                  <p class="talent_subtitle_2">
                    문제 정의부터 검증까지, 애자일 방식으로 프로젝트 해요.
                  </p>

                  <li class="talent_subtitle font_main_1 font_weight_700">
                    동료와 사려 깊은 커뮤니케이션이 가능한 분
                  </li>
                  <p class="talent_subtitle_2">
                    천재IT교육센터의 커리큘럼은 프로젝트 중심으로 진행됩니다.
                  </p>
                  <p class="talent_subtitle_2">
                    동료 개발자 뿐만 아니라 기획자, 마케터 등 다른 직무의
                    동료와도 배려하며 소통해요.
                  </p>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="image_absolute_wrap"><img th:src="@{/picture/fullstack/img-red_dot.png}" alt="image red_dot" class="image_absolute_7"/></div>
      <!-- 예비 개발자 end -->

        <th:block
                th:replace="sub/sub_inclulde/procedure :: procedure"
        ></th:block>
        <th:block th:replace="sub/sub_inclulde/eduplace :: eduplace"></th:block>

        <th:block
          th:replace="sub/sub_inclulde/digital_tran :: digital_tran"
        ></th:block>
    </div>
    <script th:src="@{/static/js/slide.js}"></script>
    <th:block th:replace="include/footer :: footer"></th:block>
  </body>
</html>
