<!Doctype html>

<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8" />
  <meta
          content="minimum-scale=1.0, width=device-width, maximum-scale=1, ser-scalable=no"
          name="viewport"
  />
  <title>pm 랜딩페이지</title>
  <th:block th:replace="include/head :: head"></th:block>
</head>
<body>
<th:block th:replace="include/header :: header"></th:block>
<div class="main back_black">
  <!-- 상단배너 start -->
  <section class="container " id="top">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/banner_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/banner_pm.png}" alt="">
      </picture>
    </div>
  </section>
  <!-- 상단배너 end -->

  <!-- REVIEW start -->
  <section class="container ">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/review_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/review_pm.png}" alt="">
      </picture>
      <div class="review_image_wrap">
        <div class="slide slide_wrap">
          <div class="slide_item">
            <img th:src="@{/picture/bigdata/bigex_1.png}" alt="bigdata후기_1">
          </div>
          <div class="slide_item">
            <img th:src="@{/picture/bigdata/bigex_2.jpg}" alt="bigdata후기_2">
          </div>
          <div class="slide_item">
            <img th:src="@{/picture/bigdata/bigex_3.jpg}" alt="bigdata후기_3">
          </div>
          <div class="slide_item">
            <img th:src="@{/picture/bigdata/bigex_4.jpg}" alt="bigdata후기_4">
          </div>
          <div class="button_wrap">
            <div class="slide_prev_button slide_button">◀</div>
            <div class="slide_next_button slide_button">▶</div>
          </div>
          <ul class="slide_pagination"></ul>
        </div>
      </div>
    </div>
  </section>
  <!-- REVIEW end -->

  <!-- 모집 안내 start -->
  <section class="container ">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/recru_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/recru_pm.png}" alt="">
      </picture>
    </div>
  </section>
  <!-- 모집 안내 end -->

  <!-- BENEFITS start  -->
  <section class="container ">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/benefit_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/benefit_pm.png}" alt="">
      </picture>
    </div>
  </section>
  <!-- BENEFITS end  -->

  <!-- pm 이런 길 start -->
  <section class="container ">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/talent_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/talent_pm.png}" alt="">
      </picture>
    </div>
  </section>
  <!-- pm 이런 길 end -->

  <!-- 자가진단표 start -->
  <div class="back_white ud_m">
  <section class="container">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/self_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/self_pm.png}" alt="">
      </picture>
    </div>
  </section>
  </div>
  <!-- 자가진단표 end -->

  <!-- 커리큘럼 start -->
  <section class="container ">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/curri_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/curri_pm.png}" alt="">
      </picture>
    </div>
  </section>
  <!-- 커리큘럼 end -->

  <!-- 포트폴리오 start -->
  <section class="container ">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/port1_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/port1_pm.png}" alt="">
      </picture>
    </div>
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/port2_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/port2_pm.png}" alt="">
      </picture>
    </div>
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/port3_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/port3_pm.png}" alt="">
      </picture>
    </div>
  </section>
  <!-- 포트폴리오 end -->

  <th:block th:replace="sub/sub_inclulde/mentoring :: mentoring"></th:block>



  <th:block th:replace="sub/sub_inclulde/procedure :: procedure"></th:block>

  <th:block th:replace="sub/sub_inclulde/eduplace :: eduplace"></th:block>
  <th:block th:replace="sub/sub_inclulde/digital_tran :: digital_tran"></th:block>
  <th:block th:replace="sub/sub_inclulde/map :: map"></th:block>

</div>
<script th:src="@{/static/js/slide.js}"></script>

<th:block th:replace="include/footer :: footer"></th:block>

</body>
</html>
