<!Doctype html>

<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8" />

  <title>pm 랜딩페이지</title>
  <th:block th:replace="include/head :: head"></th:block>

</head>
<body>
<th:block th:replace="include/header :: header"></th:block>
<div class="main back_black ">
  <!-- 상단배너 start -->
  <section class="container">
    <div class="image_content flex_column">
      <div class="flex direct_column">
        <div class="flex_column">
          <picture>
            <source srcset="../../static/images/picture/pm/pm_mobile/banner_pm1.png" media="(max-width: 450px)">
            <img th:src="@{/picture/pm/banner_pm1.png}" alt="">
          </picture>
          <div class="flex">
            <a th:href="@{/subSign_pm}">
              <picture>
                <source srcset="../../static/images/picture/common2/common2_mobile/banner_btn.png" media="(max-width: 450px)">
                <img th:src="@{/picture/common2/banner_btn.png}" alt="" class="button">
              </picture>
            </a>
            <picture>
              <source srcset="../../static/images/picture/common2/common2_mobile/banner_btn2.png" media="(max-width: 450px)">
              <img th:src="@{/picture/common2/banner_btn2.png}" alt="">
            </picture>
          </div>
        </div>
        <div class="">
          <picture>
            <source srcset="../../static/images/picture/pm/pm_mobile/banner_pm2.png" media="(max-width: 450px)">
            <img th:src="@{/picture/pm/banner_pm2.png}" alt="">
          </picture>
        </div>
      </div>
      <picture>
        <source srcset="/" media="(max-width: 450px)">
        <img th:src="@{/picture/common2/banner_text.png}" alt="">
      </picture>
      <img th:src="@{/picture/common2/banner_img.png}" alt="" class="image_banner">
    </div>
  </section>
  <!-- 상단배너 end -->

  <!-- REVIEW start -->
  <section class="container ">
    <div class="image_content review_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/review_pm1.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/review_pm.png}" alt="">
      </picture>
      <div class="review_text">
        <a href="https://blog.naver.com/chunjae2023" target='_blank'>
          <picture>
            <source srcset="../../static/images/picture/common2/common2_mobile/review_btn1.png" media="(max-width: 450px)">
            <img th:src="@{/picture/common2/review_btn.png}" alt="" class="button">
          </picture>
        </a>
        <picture>
          <source srcset="../../static/images/picture/common2/common2_mobile/review_btn2.png" media="(max-width: 450px)">
          <img th:src="@{/picture/common2/review_btn2.png}" alt="">
        </picture>
      </div>
    </div>

    <div class="review_image_wrap">
      <div class="width"></div>
      <div class="slide slide_review_wrap">
        <div class="slide_review">
          <img th:src="@{/picture/pm/pmex_1.png}" alt="pm후기_1" class="border10">
        </div>
        <div class="slide_review">
          <img th:src="@{/picture/pm/pmex_2.png}" alt="pm후기_2" class="border10">
        </div>
        <div class="slide_review">
          <img th:src="@{/picture/pm/pmex_3.png}" alt="pm후기_3" class="border10">
        </div>
        <div class="slide_review">
          <img th:src="@{/picture/pm/pmex_4.png}" alt="pm후기_4" class="border10">
        </div>
      </div>
    </div>
    <div class="review_image_mobile">
      <div class="slide slide_review_mobile">
        <div class="slide_review">
          <img th:src="@{/picture/pm/pmex_1.png}" alt="pm후기_1" class="border10">
        </div>
        <div class="slide_review">
          <img th:src="@{/picture/pm/pmex_2.png}" alt="pm후기_2" class="border10">
        </div>
        <div class="slide_review">
          <img th:src="@{/picture/pm/pmex_3.png}" alt="pm후기_3" class="border10">
        </div>
        <div class="slide_review">
          <img th:src="@{/picture/pm/pmex_4.png}" alt="pm후기_4" class="border10">
        </div>
      </div>
    </div>
  </section>
  <!-- REVIEW end -->

  <!-- 모집 안내 start -->
  <div class="image_absolute_wrap"><img th:src="@{/picture/common2/recru_img.png}" alt="recru_img" class="recru_img"/></div>
  <section class="container recru_mt5">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/recru_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/recru_pm.png}" alt="">
      </picture>
    </div>
  </section>
  <!-- 모집 안내 end -->

  <!-- BENEFITS start  -->
  <section class="container ">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/benefit_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/benefit_pm.png}" alt="">
      </picture>
    </div>
  </section>
  <!-- BENEFITS end  -->

  <!-- pm 이런 길 start -->
  <section class="container ">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/talent_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/talent_pm.png}" alt="">
      </picture>
    </div>
  </section>
  <!-- pm 이런 길 end -->

  <!-- 자가진단표 start -->
  <div class="back_white_2 ud_m">
  <section class="container_side">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/self_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/self_pm.png}" alt="">
      </picture>
    </div>
  </section>
  </div>
  <div class="image_absolute_wrap2"><img th:src="@{/picture/pm/circle_harf.png}" alt="img-circle_harf" class="img-circle_harf"/></div>

  <!-- 자가진단표 end -->

  <!-- 커리큘럼 start -->
  <section class="container pt_3">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/curri_pm.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/curri_pm.png}" alt="">
      </picture>
    </div>
  </section>
  <!-- 커리큘럼 end -->

  <!-- 포트폴리오 start -->
  <section class="container ">
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/port_pm1.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/port_pm1.png}" alt="">
      </picture>
    </div>
    <div class="pm_port_wrap">
      <div class="men_slide pm_slide_wrap">
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_1.png}" alt="pm 포트폴리오" class="border10">
        </div>
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_2.png}" alt="pm 포트폴리오" class="border10">
        </div>
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_3.png}" alt="pm 포트폴리오" class="border10">
        </div>
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_4.png}" alt="pm 포트폴리오" class="border10">
        </div>
      </div>
    </div>
    <div class="pm_port_wrap_mobile">
      <div class="men_slide pm_slide_wrap_mobile">
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_1.png}" alt="pm 포트폴리오" class="border10">
        </div>
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_2.png}" alt="pm 포트폴리오" class="border10">
        </div>
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_3.png}" alt="pm 포트폴리오" class="border10">
        </div>
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_4.png}" alt="pm 포트폴리오" class="border10">
        </div>
      </div>
    </div>
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/port_pm2.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/port_pm2.png}" alt="">
      </picture>
    </div>
    <div class="pm_port_wrap">
      <div class="men_slide pm_slide_wrap">
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_5.png}" alt="pm 포트폴리오" class="border10">
        </div>
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_6.png}" alt="pm 포트폴리오" class="border10">
        </div>
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_7.png}" alt="pm 포트폴리오" class="border10">
        </div>
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_8.png}" alt="pm 포트폴리오" class="border10">
        </div>
      </div>
    </div>
    <div class="pm_port_wrap_mobile">
      <div class="men_slide pm_slide_wrap_mobile">
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_5.png}" alt="pm 포트폴리오" class="border10">
        </div>
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_6.png}" alt="pm 포트폴리오" class="border10">
        </div>
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_7.png}" alt="pm 포트폴리오" class="border10">
        </div>
        <div class="men_slide_item">
          <img th:src="@{/picture/pm/pmport_8.png}" alt="pm 포트폴리오" class="border10">
        </div>
      </div>
    </div>
    <div class="image_content">
      <picture>
        <source srcset="../../static/images/picture/pm/pm_mobile/port_pm3.png" media="(max-width: 450px)">
        <img th:src="@{/picture/pm/port_pm3.png}" alt="">
      </picture>
    </div>
      <div class="image_content">
          <picture>
            <source srcset="../../static/images/picture/pm/pm_mobile/pmport_9.png" media="(max-width: 450px)">
            <img th:src="@{/picture/pm/pmport_9.png}" alt="pm 포트폴리오" class="border10">
          </picture>
      </div>
  </section>
  <!-- 포트폴리오 end -->

  <th:block th:replace="sub/sub_inclulde/mentoring :: mentoring"></th:block>



  <!-- 선발절차 start -->
  <section class="container ud_m">
    <div class="image_content flex_column">
      <picture>
        <source srcset="../../../static/images/picture/common2/common2_mobile/procedure1.png" media="(max-width: 450px)">
        <img th:src="@{/picture/common2/procedure_title.png}" alt="">
      </picture>

      <div class="procedure">
        <a th:href="@{/subSign_pm}">
        <picture>
            <img th:src="@{/picture/common2/procedure1.png}" alt="" class="img_hover">
          </picture>
        </a>
        <picture>
          <img th:src="@{/picture/common2/procedure2.png}" alt="">
        </picture>
        <a href="https://www.hrd.go.kr/">
          <picture>
            <img th:src="@{/picture/common2/procedure3.png}" alt="" class="img_hover">
          </picture>
        </a>
      </div>

      <div class="procedure_mobile">
        <div class="flex">
          <a th:href="@{/subSign_pm}">
          <picture>
              <img th:src="@{/picture/common2/common2_mobile/procedure2.png}" alt="" class="img_hover">
            </picture>
          </a>
          <picture>
            <img th:src="@{/picture/common2/common2_mobile/procedure3.png}" alt="">
          </picture>
        </div>
        <div class="flex">
          <picture>
            <img th:src="@{/picture/common2/common2_mobile/procedure4.png}" alt="">
          </picture>
          <a href="https://www.hrd.go.kr/">
            <picture>
              <img th:src="@{/picture/common2/common2_mobile/procedure5.png}" alt="" class="img_hover">
            </picture>
          </a>
        </div>
        <picture>
          <img th:src="@{/picture/common2/common2_mobile/procedure6.png}" alt="">
        </picture>
      </div>

    </div>
  </section>
  <!-- 선발절차 end -->


  <th:block th:replace="sub/sub_inclulde/eduplace :: eduplace"></th:block>
  <th:block th:replace="sub/sub_inclulde/digital_tran :: digital_tran"></th:block>
  <th:block th:replace="sub/sub_inclulde/map :: map"></th:block>

</div>
<!--<script th:src="@{/static/js/slide.js}"></script>-->

<th:block th:replace="include/footer :: footer"></th:block>

</body>
</html>
