<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <body>
    <th:block th:fragment="digital_tran">

      <!-- Digital Transformation Start -->
      <section class="container ">
        <div class="image_content">
          <picture>
            <source srcset="../../../static/images/picture/common2/common2_mobile/digital_tran.svg" media="(max-width: 450px)">
            <img th:src="@{/picture/common2/digital_tran.png}" alt="">
          </picture>
        </div>
      </section>
      <!-- Digital Transformation end -->

    </th:block>
  </body>
</html>
