<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <body>
    <th:block th:fragment="digital_tran">

      <!-- Digital Transformation Start -->
        <section class="container container_bottom">
        <div class="title-body">
            <img th:src="@{/picture/common/img-orange_circle.png}" alt="주황색 동그라미 이미지" class="image_absolute_8"/>
          <h1 class="title_white_big">대한민국 1위 교육 • 출판기업에서 <br>
            Digital Transformation</h1>
        </div>
        <div class="DTS_content">
            <article class="DTS_wrap">
                <div class="DTS_text">
                  <h4 class="DTS_btn">미래산업 성장 가치</h4>
                  <p class="benefit_sub_2">
                    국내 에듀테크 시장 예상 성장, <br/>
                    <strong>2025년 약 10조원 규모!</strong>
                  </p>
                  <p class="benefit_sub_2">
                    2025년 AI 디지털 교과서 도입으로 에듀테크 산업은 더욱 성장할 전망입니다.
                  </p>
                  <p class="benefit_sub_2">
                    대한민국 대표 에듀테크 기업인 천재교육그룹은 <br/>
                    함께 성장할 인재를 찾고 있습니다.
                  </p>
                </div>
                <div class="index_figure">
                      <img th:src="@{/ico/ico-company.png}" alt="ico company" class="radius2"/>
                </div>
            </article>
            <article class="DTS_wrap">
                <div class="DTS_text">
                  <h4 class="DTS_btn">에듀테크 인재 양성 교육</h4>
                  <p class="benefit_sub_2">
                    <strong>천재IT교육센터</strong>는<br/>
                    교육의 가치를 함께 이해하고, 대한민국의 교육의 미래를<br>
                    함께 만들어갈 에듀테크 인재를 직접 양성하는 곳입니다.
                  </p>
                </div>
                <div class="index_figure">
                        <img th:src="@{/ico/ico-company2.png}" alt="ico company2" class="radius2"/>
                </div>
            </article>
        </div>
      </section>
      <!-- Digital Transformation end -->

    </th:block>
  </body>
</html>
