<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <body>
    <th:block th:fragment="eduplace">

      <!-- 교육시설 start -->
      <div class="image_absolute_wrap"><img th:src="@{/picture/common2/img-class1.png}" alt="img-class1" class="img-class1"/></div>
      <div class="image_absolute_wrap"><img th:src="@{/picture/common2/img-class2.png}" alt="img-class2" class="img-class2"/></div>
      <section class="container ">
        <div class="image_content">
          <picture>
            <source srcset="../../../static/images/picture/common2/common2_mobile/eduplace.png" media="(max-width: 450px)">
            <img th:src="@{/picture/common2/eduplace.png}" alt="">
          </picture>
        </div>
      </section>

      <!-- 교육시설 end -->

    </th:block>
  </body>
</html>
