<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <body>
    <th:block th:fragment="mentoring">
      <!-- 현직자의 멘토링 start -->
      <section class="container ">
        <div class="image_content">
          <picture>
            <source srcset="../../../static/images/picture/common2/common2_mobile/mentoring.png" media="(max-width: 450px)">
            <img th:src="@{/picture/common2/mentoring.png}" alt="">
          </picture>
        </div>
        <div class="mentoring_wrap">
          <div class="men_slide men_slide_wrap">
            <div class="men_slide_item">
              <img th:src="@{/picture/common2/mentoring_1.png}" alt="멘토링 이미지1"/>
              <div class="men_text">현직자 멘토링</div>
            </div>
            <div class="men_slide_item">
              <img th:src="@{/picture/common2/mentoring_2.png}" alt="멘토링 이미지1"/>
              <div class="men_text">현직자 멘토링</div>
            </div>
            <div class="men_slide_item">
              <img th:src="@{/picture/common2/mentoring_3.png}" alt="멘토링 이미지1"/>
              <div class="men_text">현직자 멘토링</div>
            </div>
            <div class="men_slide_item">
              <img th:src="@{/picture/common2/mentoring_4.png}" alt="멘토링 이미지1"/>
              <div class="men_text">현직자 멘토링</div>
            </div>
            <div class="men_slide_item">
              <img th:src="@{/picture/common2/mentoring_5.png}" alt="멘토링 이미지1"/>
              <div class="men_text">현직자 멘토링</div>
            </div>
            <div class="button_wrap">
              <div class="men_slide_prev_button men_slide_button">◀</div>
              <div class="men_slide_next_button men_slide_button">▶</div>
            </div>
            <ul class="men_slide_pagination"></ul>
          </div>
        </div>
      </section>
      <!-- 현직자의 멘토링 end -->
    </th:block>
  </body>
</html>
