<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <body>
    <th:block th:fragment="procedure">

      <!-- 선발절차 start -->
      <section class="container ud_m">
        <div class="image_content flex_column">
          <picture>
            <source srcset="../../../static/images/picture/common2/common2_mobile/procedure1.png" media="(max-width: 450px)">
            <img th:src="@{/picture/common2/procedure_title.png}" alt="" class="procedure_title">
          </picture>

          <div class="procedure">
            <a href="https://blog.naver.com/chunjae2023" >
              <picture>
                <img th:src="@{/picture/common2/procedure1.png}" alt="" class="img_hover">
              </picture>
            </a>
            <picture>
              <img th:src="@{/picture/common2/procedure2.png}" alt="">
            </picture>
            <a href="https://www.hrd.go.kr/">
            <picture>
              <img th:src="@{/picture/common2/procedure3.png}" alt="" class="img_hover">
            </picture>
            </a>
          </div>

          <div class="procedure_mobile">
            <div class="flex">
            <a href="https://blog.naver.com/chunjae2023">
              <picture>
                <img th:src="@{/picture/common2/common2_mobile/procedure2.png}" alt="" class="img_hover">
              </picture>
            </a>
              <picture>
                <img th:src="@{/picture/common2/common2_mobile/procedure3.png}" alt="">
              </picture>
            </div>
            <div class="flex">
            <picture>
              <img th:src="@{/picture/common2/common2_mobile/procedure4.png}" alt="">
            </picture>
            <a href="https://www.hrd.go.kr/">
              <picture>
                <img th:src="@{/picture/common2/common2_mobile/procedure5.png}" alt="" class="img_hover">
              </picture>
            </a>
            </div>
            <picture>
              <img th:src="@{/picture/common2/common2_mobile/procedure6.png}" alt="">
            </picture>
          </div>

        </div>
      </section>
      <!-- 선발절차 end -->

    </th:block>
  </body>
</html>
