<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <body>
    <th:block th:fragment="procedure">

      <!-- 선발절차 start -->
      <section class="container ">
        <div class="image_content">
          <picture>
            <source srcset="../../../static/images/picture/common2/common2_mobile/procedure.png" media="(max-width: 450px)">
            <img th:src="@{/picture/common2/procedure.png}" alt="">
          </picture>
        </div>
      </section>
      <!-- 선발절차 end -->

    </th:block>
  </body>
</html>
