:root {
  ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #efefef;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4;
  }
}
html,
body {
  color: var(--c-black);
  background: var(--c-white);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
p {
  line-height: 1.125;
}

@media screen and (min-width: 769px), print {
  .hero-body {
    padding: 3rem 0;
  }
}

.container {
  margin: 0.5rem auto;
}

.hero-body .container {
  padding: 0.5rem;
  margin-bottom: 3rem;
  max-width: 100%;
}

.features {
  padding: 5rem 0;
}
.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}
.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.intro {
  padding: 5rem 0;
  text-align: center;
}
.sandbox {
  padding: 5rem 0;
}
.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.notification {
  padding: 2rem;
  border: 1px solid var(--c-gray);
  border-radius: 10px;
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow:
    0 10px 16px rgba(0, 0, 0, 0.13),
    0 6px 6px rgba(0, 0, 0, 0.19);
}
/*adds font awesome stars*/
footer li:before {
  content: "\f1b2";
  font-family: "FontAwesome";
  float: left;
  margin-left: -1.5em;
  color: #147efb;
}

/* :hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
  } */

.width {
  width: 100%;
}
.textarea:not([rows]) {
  max-height: 40em;
  min-height: 10em;
}

.text_center {
  text-align: center;
}

.page_center {
  justify-content: space-around;
}

.card_center {
  justify-content: space-around;
  background-color: var(--c-card_back);
  border-radius: var(--border_radius);
  color: var(--c-black);
}

.hero.is-fullheight {
  min-height: 50vh;
}

.border_ra {
  border-radius: var(--border_radius);
}

.box_color {
  background-color: var(--c-card_back);
  border: 1px solid var(--c-card_border);
  color: var(--c-white);
}

.in_box {
  width: 350px;
  min-height: 200px;
  background-color: var(--c-white);
  color: var(--c-black);
  padding: 1rem 1rem;
  border-radius: var(--border_radius);
}

@media screen and (max-width: 1215px) {
  .in_box {
    width: 200px;
  }
}

@media screen and (max-width: 1023px) {
  .in_box {
    width: 350px;
  }
}

.font_white {
  color: var(--c-white);
}

.subtitle {
  padding-top: 2rem;
  color: var(--c-gray) !important;
  text-align: center;
}

.subtitle_left {
  padding-top: 2rem;
  color: var(--c-gray) !important;
  text-align: left;
}

.subtitle strong,
p {
  color: var(--c-black);
}

.columns {
  margin: 0;
  padding: 0;
}
.button {
  background-color: var(--c-main);
  padding: 1rem 1.5rem;
  color: var(--c-white);
  border: none;
  border-radius: 30px;
  margin-top: 3rem;
}

.button:hover {
  background-color: var(--c-hover);
  color: var(--c-white);
}

.btn {
  background-color: var(--c-main);
  padding: 1rem 1.5rem;
  color: var(--c-white);
  border: none;
  border-radius: 30px;
}

.btn2 {
  background-color: var(--c-white);
  padding: 1rem 1.5rem;
  color: var(--c-main);
  border: none;
  border-radius: 30px;
}

.category li {
  margin-bottom: 0.75rem;
}
.mb-6 {
  margin-top: 3rem;
}

.columns.is-multiline {
  flex-direction: row;
  justify-content: space-between;
}

.curri_text {
  margin: 0;
  padding: 0;
  flex: none;
  background-color: var(--c-main);
  color: var(--c-white);
  font-size: 32px;
  text-align: center;
  width: 20%;
}

@media screen and (max-width: 768px) {
  .curri_text {
    width: 100%;
  }
}

.curri_text_in {
  transform: translateY(-50%);
}

.curri_img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.image {
  margin: 0;
  padding: 0;
  background-size: cover;
}

.port_box {
  display: flex;
}

.display_block {
  display: block;
  margin: 0 0.75rem;
}

@media screen and (max-width: 1024px) {
  .port_box {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .display_block {
    margin: 7rem 0.75rem;
  }
}

.display_block li {
  padding: 0 0.5rem;
}

.bottom_banner {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  background-color: var(--c-card_border);
}

.ban_wrap {
  position: relative;
  top: 30%;
  display: flex;
  justify-content: space-around;
}

.ban_text {
  color: var(--c-black);
  font-size: 18px;
  font-weight: bold;
}

.field:not(:last-child) {
  margin-bottom: 2.5rem;
}

.field .input {
  margin-left: 0.5rem;
}

.media-content {
  height: 200px;
}

.index_figure {
  position: absolute;
  bottom: 15%;
  right: 10%;
}
