<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta
            content="minimum-scale=1.0, width=device-width, maximum-scale=1, ser-scalable=no"
            name="viewport"
    />
    <title>천재IT교육센터</title>
    <th:block th:replace="~{include/head :: head}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{include/header :: header}"></th:block>

    <div class="main">

      <!-- 메인 배너 -->
      <div class="final" style="padding-bottom: 100px;">
        <th:block th:replace="~{main/section/banner :: main_banner}"></th:block>
      </div>

      <!-- Section 1 - 카드 -->
      <th:block th:replace="~{main/section/section1 :: main_section1}"></th:block>

      <!-- Section 2  -->
      <th:block th:replace="~{main/section/section2 :: main_section2}"></th:block>

      <!-- Section 3  -->
      <th:block th:replace="~{main/section/section3 :: main_section3}"></th:block>

      <!-- Section 4  -->
      <th:block th:replace="~{main/section/section4 :: main_section4}"></th:block>

      <!-- faq  -->
      <th:block th:replace="~{main/section/faq :: main_faq}"></th:block>


    </div>
      <!-- ======================================================================-->
    <th:block th:replace="~{include/footer_black :: footer_black}"></th:block>
  </body>
</html>
