<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>과정 별 신청 현황</title>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <th:block th:replace="~{include/head :: head}"></th:block>

</head>
<body>

<th:block th:replace="~{include/header :: header}"></th:block>

<section class="page-title">
    <nav class="breadcrumb_1" aria-label="breadcrumbs">
        <ul class="breadcrumb_1_road">
            <li><a class="breadcrumb_1_road_a" th:href="@{/}"><i class="breadcrumb_1_road_home"></i>홈</a></li>
            <li><a class="breadcrumb_1_road_a" th:href="@{/apply_sub/list}">과정 별 신청 현황</a></li>
        </ul>
        <p class="breadcrumb_1_road_title">과정 별 신청 현황</p>
    </nav>
</section>

<div class="item_hole" >
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <table class="table1 is-centered is-fullwidth" id="myTable1" >
                    <thead>
                    <tr>
                        <th class="item1" scope="col" style="text-align: center">번호</th>
                        <th class="item2" scope="col" style="text-align: center">신청 과목</th>
                        <th class="item3" scope="col" style="text-align: center">성명</th>
                        <th class="item4" scope="col" style="text-align: center">이메일</th>
                        <th class="item5" scope="col" style="text-align: center">전화번호</th>
                        <th class="item6" scope="col" style="text-align: center">신청일자</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="subject, num : ${adminSubDTOList}">
                        <td class="item_td" th:text="${num.count}"></td>
                        <td class="item_td" th:text="${subject.course}"></td>
                        <td class="item_td"><a th:href="|@{/adminSubject/read(no=${subject.no})}|" class="text-decoration-none">[[${subject.name}]]</a></td>
                        <td class="item_td" th:text="${subject.email}"></td>
                        <td class="item_td" th:text="${subject.tel}"></td>
                        <td class="item_td" th:text="${#temporals.format(subject.regDate, 'yyyy-MM-dd')}"></td>
                    </tr>
                    </tbody>
                </table>
                <script th:inline="javascript">
                    $(document).ready( function () {
                        $('#myTable1').DataTable({
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>


<!-- ======= Footer ======= -->
<th:block th:replace="~{include/footer :: footer}"></th:block>
<!-- End Footer -->
</body>
</html>