
/* 모바일 버전 */
@media screen and (min-width: 1401px) {
    .container {
        max-width: 1400px;
    }
}

@media screen and (max-width: 700px) {
    .ft_wrap {
        flex-direction: column;
    }
}


@media screen and (max-width: 1406px) {
    .card-image {
        width: 100%;
    }
}


@media (max-width:768px) {
    .member{
        width: 100%;
    }
}

@media screen and (max-width: 815px) {
    .subSign_form {
        width: 100%;
    }

    .subSign_form p {
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    .sign_form {
        width: 100%;
    }
}

@media screen and (max-width: 1215px) {
    .in_box {
        width: 200px;
    }
}

@media screen and (max-width: 1023px) {
    .in_box {
        width: 350px;
    }
}

@media screen and (max-width: 1023px) {
    .notification_2 {
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .display_block {
        margin: 7rem 0.75rem;
    }
}

@media screen and (max-width: 1023px) {
    .bottom_banner {
        height: auto;
    }
}