.slick-prev {
    position: absolute;
    background-image: url("/static/images/picture/common2/left.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: transparent;
    background-color: var(--c-main);
    cursor: pointer;
    bottom: 2em;
    right: 4em;
    z-index: 1;
}

.slick-next {
    position: absolute;
    background-image: url("/static/images/picture/common2/right.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: transparent;
    background-color: var(--c-main);
    cursor: pointer;
    right: 0;
    bottom: 2em;
    z-index: 1;
}

.slick-dots {
    position: absolute;
    bottom: 2em;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    justify-content: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: .75;
}
.slick-dots li button:before
{
    font-size: 30px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: var(--c-white);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: var(--c-main);
}